.user-avatar {
  width: 163px;
  height: 163px;
  float: left;
}

.user-info {
  margin-left: 172px;
  padding: 6px;
}

.user-info h3 {
  margin: 0 0 6px 0;
  font-style: italic;
  text-shadow: 0 0 3px #d9dcec;
}

.user-info-block {
  margin-bottom: 10px;
}

.personal-details {
  text-shadow: 0 0 3px #d9dcec;
  font-style: italic;
}

.user-info-table {
  border-collapse: collapse;
}

.user-info-table tr {
  border-bottom: 1px dashed #d3ddd3;
}

.user-info-table td {
  padding: 4px 2px;
}

.next-block .block-header {
  cursor: pointer;
}

.next-block .block-body {
  margin: 8px 12px 12px;
}

.statistics {
  width: 100%;
  text-shadow: 0 0 3px #d9dcec;
  font-style: italic;
}

.left-s-row {
  text-align: left;
}

.right-s-row {
  text-align: right;
}

.not-last {
  border-bottom: 1px dotted #d3ddd3;
}

.statistics td {
  padding: 8px 4px 2px;
}

.lenta-participants {
  text-shadow: 0 0 3px #d9dcec;
  font-style: italic;
}
