html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#navigation {
  margin: 0;
  background-image: linear-gradient(to bottom, #fffef2, #f3f2e7);
  box-shadow: 0 0 6px #f1dbc2;
}

.navbar-brand {
  padding-top: 10px;
}

#main-container {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #83858f;
}

.error {
  color: #a94442;
  padding-left: 8px;
  margin-bottom: 0;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  box-shadow: 0 0 1px #7f8c7f;
  background-color: #687368;
  background-image: linear-gradient(to bottom, #a2a19a, #74736e);
}

.footer-block {
  height: 15px;
}

.footer-left {
  width: 5%;
  float: left;
  margin-top: 5px;
}

.footer-center {
  width: 90%;
  float: left;
  padding-top: 4px;
  color: white;
}

#footer-link {
  color: white;
  text-decoration: none;
  text-shadow: 0 0 8px #d9dcec;
}

#footer-link:hover {
  cursor: pointer;
  text-shadow: 0 0 0 #d9dcec;
}

.footer-right {
  width: 5%;
  float: left;
  margin-top: 5px;
}

.footer-bottom {
  clear: both;
}

.to-be-hidden {
  display: none;
}
