.content-block {
  border-radius: 3px;
  border: 1px solid #d3ddd3;
  box-shadow: 0 0 6px #f1dbc2;
}

.announcement-block {
  border-radius: 3px;
  border: 1px solid #f3bd99;
  box-shadow: 0 0 6px #e8d4c4;
}

.block-header {
  border-radius: 3px;
  background: linear-gradient(to bottom, #fffef2, #f3f2e7);
  padding: 10px;
}

.block-body, .list-item-body {
  margin: 8px 12px 16px;
}

.announcement-block .block-body {
  border: 1px solid white;
  margin: 0 11px 7px;
}

.today {
  font-size: 0.8em;
  font-style: italic;
  font-weight: 600;
}

.form-help {
  font-style: italic;
  text-align: justify;
  margin: 6px 0;
}

.form-help p {
  margin: 2px 0 0 0;
}

.next-block {
  margin-top: 6px;
}
