.entity-alias {
  text-align: center;
  text-shadow: 0 0 3px #d9dcec;
  padding: 3px 0 2px 0;
}

.common-details {
  text-align: center;
  padding: 1px 0 5px 0;
}

.white-space {
  margin-right: 5px;
}
