.owner-avatar {
  width: 91px;
  height: 91px;
  float: left;
}

.entity-info {
  margin-left: 96px;
  padding: 6px;
}

.entity-info h4 {
  margin: 0;
}

.owner-profile-link {
  color: #83858f;
  font-style: italic;
  text-shadow: 0 0 3px #d9dcec;
}

.date-info, .c-date-info {
  font-size: 0.9em;
  font-style: italic;
  text-shadow: 0 0 3px #d9dcec;
}
