.entity-body-block p, .item-body-block p,
.commentary-body p, .item-body p, .announcement p,
.announcement-body p, .modal-body p {
  text-align: justify;
  margin: 6px 0;
}


.entity-body-block li, .item-body-block li,
.commentary-body li, .item-body li, .announcement li,
.announcement-body li, .modal-body li{
  text-align: justify;
  padding-right: 8px;
}

blockquote {
  font-style: italic;
  font-size: 0.9em;
  text-align: justify;
  border-left: 5px solid #d9dcec;
  padding: 1px 12px 12px;
}

pre {
  border: 1px solid #d9dcec;
  border-radius: 3px;
}

.embedded-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin: 6px 0;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
