pre .hll { background-color: #ffffcc }
pre  { background: #fdfeea; }
pre .c { color: #60a0b0; font-style: italic } /* Comment */
pre .err { border: 1px solid #FF0000 } /* Error */
pre .k { color: #007020; font-weight: bold } /* Keyword */
pre .o { color: #666666 } /* Operator */
pre .ch { color: #60a0b0; font-style: italic } /* Comment.Hashbang */
pre .cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
pre .cp { color: #007020 } /* Comment.Preproc */
pre .cpf { color: #60a0b0; font-style: italic } /* Comment.PreprocFile */
pre .c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
pre .cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
pre .gd { color: #A00000 } /* Generic.Deleted */
pre .ge { font-style: italic } /* Generic.Emph */
pre .gr { color: #FF0000 } /* Generic.Error */
pre .gh { color: #000080; font-weight: bold } /* Generic.Heading */
pre .gi { color: #00A000 } /* Generic.Inserted */
pre .go { color: #888888 } /* Generic.Output */
pre .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
pre .gs { font-weight: bold } /* Generic.Strong */
pre .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
pre .gt { color: #0044DD } /* Generic.Traceback */
pre .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
pre .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
pre .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
pre .kp { color: #007020 } /* Keyword.Pseudo */
pre .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
pre .kt { color: #902000 } /* Keyword.Type */
pre .m { color: #40a070 } /* Literal.Number */
pre .s { color: #4070a0 } /* Literal.String */
pre .na { color: #4070a0 } /* Name.Attribute */
pre .nb { color: #007020 } /* Name.Builtin */
pre .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
pre .no { color: #60add5 } /* Name.Constant */
pre .nd { color: #555555; font-weight: bold } /* Name.Decorator */
pre .ni { color: #d55537; font-weight: bold } /* Name.Entity */
pre .ne { color: #007020 } /* Name.Exception */
pre .nf { color: #06287e } /* Name.Function */
pre .nl { color: #002070; font-weight: bold } /* Name.Label */
pre .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
pre .nt { color: #062873; font-weight: bold } /* Name.Tag */
pre .nv { color: #bb60d5 } /* Name.Variable */
pre .ow { color: #007020; font-weight: bold } /* Operator.Word */
pre .w { color: #bbbbbb } /* Text.Whitespace */
pre .mb { color: #40a070 } /* Literal.Number.Bin */
pre .mf { color: #40a070 } /* Literal.Number.Float */
pre .mh { color: #40a070 } /* Literal.Number.Hex */
pre .mi { color: #40a070 } /* Literal.Number.Integer */
pre .mo { color: #40a070 } /* Literal.Number.Oct */
pre .sa { color: #4070a0 } /* Literal.String.Affix */
pre .sb { color: #4070a0 } /* Literal.String.Backtick */
pre .sc { color: #4070a0 } /* Literal.String.Char */
pre .dl { color: #4070a0 } /* Literal.String.Delimiter */
pre .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
pre .s2 { color: #4070a0 } /* Literal.String.Double */
pre .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
pre .sh { color: #4070a0 } /* Literal.String.Heredoc */
pre .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
pre .sx { color: #c65d09 } /* Literal.String.Other */
pre .sr { color: #235388 } /* Literal.String.Regex */
pre .s1 { color: #4070a0 } /* Literal.String.Single */
pre .ss { color: #517918 } /* Literal.String.Symbol */
pre .bp { color: #007020 } /* Name.Builtin.Pseudo */
pre .fm { color: #06287e } /* Name.Function.Magic */
pre .vc { color: #bb60d5 } /* Name.Variable.Class */
pre .vg { color: #bb60d5 } /* Name.Variable.Global */
pre .vi { color: #bb60d5 } /* Name.Variable.Instance */
pre .vm { color: #bb60d5 } /* Name.Variable.Magic */
pre .il { color: #40a070 } /* Literal.Number.Integer.Long */.syntax pre .hll { background-color: #ffffcc }
.syntax pre  { background: #f8f8f8; }
.syntax pre .c { color: #8f5902; font-style: italic } /* Comment */
.syntax pre .err { color: #a40000; border: 1px solid #ef2929 } /* Error */
.syntax pre .g { color: #000000 } /* Generic */
.syntax pre .k { color: #204a87; font-weight: bold } /* Keyword */
.syntax pre .l { color: #000000 } /* Literal */
.syntax pre .n { color: #000000 } /* Name */
.syntax pre .o { color: #ce5c00; font-weight: bold } /* Operator */
.syntax pre .x { color: #000000 } /* Other */
.syntax pre .p { color: #000000; font-weight: bold } /* Punctuation */
.syntax pre .ch { color: #8f5902; font-style: italic } /* Comment.Hashbang */
.syntax pre .cm { color: #8f5902; font-style: italic } /* Comment.Multiline */
.syntax pre .cp { color: #8f5902; font-style: italic } /* Comment.Preproc */
.syntax pre .cpf { color: #8f5902; font-style: italic } /* Comment.PreprocFile */
.syntax pre .c1 { color: #8f5902; font-style: italic } /* Comment.Single */
.syntax pre .cs { color: #8f5902; font-style: italic } /* Comment.Special */
.syntax pre .gd { color: #a40000 } /* Generic.Deleted */
.syntax pre .ge { color: #000000; font-style: italic } /* Generic.Emph */
.syntax pre .gr { color: #ef2929 } /* Generic.Error */
.syntax pre .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.syntax pre .gi { color: #00A000 } /* Generic.Inserted */
.syntax pre .go { color: #000000; font-style: italic } /* Generic.Output */
.syntax pre .gp { color: #8f5902 } /* Generic.Prompt */
.syntax pre .gs { color: #000000; font-weight: bold } /* Generic.Strong */
.syntax pre .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.syntax pre .gt { color: #a40000; font-weight: bold } /* Generic.Traceback */
.syntax pre .kc { color: #204a87; font-weight: bold } /* Keyword.Constant */
.syntax pre .kd { color: #204a87; font-weight: bold } /* Keyword.Declaration */
.syntax pre .kn { color: #204a87; font-weight: bold } /* Keyword.Namespace */
.syntax pre .kp { color: #204a87; font-weight: bold } /* Keyword.Pseudo */
.syntax pre .kr { color: #204a87; font-weight: bold } /* Keyword.Reserved */
.syntax pre .kt { color: #204a87; font-weight: bold } /* Keyword.Type */
.syntax pre .ld { color: #000000 } /* Literal.Date */
.syntax pre .m { color: #0000cf; font-weight: bold } /* Literal.Number */
.syntax pre .s { color: #4e9a06 } /* Literal.String */
.syntax pre .na { color: #c4a000 } /* Name.Attribute */
.syntax pre .nb { color: #204a87 } /* Name.Builtin */
.syntax pre .nc { color: #000000 } /* Name.Class */
.syntax pre .no { color: #000000 } /* Name.Constant */
.syntax pre .nd { color: #5c35cc; font-weight: bold } /* Name.Decorator */
.syntax pre .ni { color: #ce5c00 } /* Name.Entity */
.syntax pre .ne { color: #cc0000; font-weight: bold } /* Name.Exception */
.syntax pre .nf { color: #000000 } /* Name.Function */
.syntax pre .nl { color: #f57900 } /* Name.Label */
.syntax pre .nn { color: #000000 } /* Name.Namespace */
.syntax pre .nx { color: #000000 } /* Name.Other */
.syntax pre .py { color: #000000 } /* Name.Property */
.syntax pre .nt { color: #204a87; font-weight: bold } /* Name.Tag */
.syntax pre .nv { color: #000000 } /* Name.Variable */
.syntax pre .ow { color: #204a87; font-weight: bold } /* Operator.Word */
.syntax pre .w { color: #f8f8f8; text-decoration: underline } /* Text.Whitespace */
.syntax pre .mb { color: #0000cf; font-weight: bold } /* Literal.Number.Bin */
.syntax pre .mf { color: #0000cf; font-weight: bold } /* Literal.Number.Float */
.syntax pre .mh { color: #0000cf; font-weight: bold } /* Literal.Number.Hex */
.syntax pre .mi { color: #0000cf; font-weight: bold } /* Literal.Number.Integer */
.syntax pre .mo { color: #0000cf; font-weight: bold } /* Literal.Number.Oct */
.syntax pre .sa { color: #4e9a06 } /* Literal.String.Affix */
.syntax pre .sb { color: #4e9a06 } /* Literal.String.Backtick */
.syntax pre .sc { color: #4e9a06 } /* Literal.String.Char */
.syntax pre .dl { color: #4e9a06 } /* Literal.String.Delimiter */
.syntax pre .sd { color: #8f5902; font-style: italic } /* Literal.String.Doc */
.syntax pre .s2 { color: #4e9a06 } /* Literal.String.Double */
.syntax pre .se { color: #4e9a06 } /* Literal.String.Escape */
.syntax pre .sh { color: #4e9a06 } /* Literal.String.Heredoc */
.syntax pre .si { color: #4e9a06 } /* Literal.String.Interpol */
.syntax pre .sx { color: #4e9a06 } /* Literal.String.Other */
.syntax pre .sr { color: #4e9a06 } /* Literal.String.Regex */
.syntax pre .s1 { color: #4e9a06 } /* Literal.String.Single */
.syntax pre .ss { color: #4e9a06 } /* Literal.String.Symbol */
.syntax pre .bp { color: #3465a4 } /* Name.Builtin.Pseudo */
.syntax pre .fm { color: #000000 } /* Name.Function.Magic */
.syntax pre .vc { color: #000000 } /* Name.Variable.Class */
.syntax pre .vg { color: #000000 } /* Name.Variable.Global */
.syntax pre .vi { color: #000000 } /* Name.Variable.Instance */
.syntax pre .vm { color: #000000 } /* Name.Variable.Magic */
.syntax pre .il { color: #0000cf; font-weight: bold } /* Literal.Number.Integer.Long */
