{% extends "base.html" %}
{% from "auth/_macros.html" import get_message %}
{% from "links/_macros.html" import pagination_widget %}

{% block title %}Приват с {{ target.username }}{% endblock %}

{% block styles %}
  {{ super() }}
  {% assets filters='cssmin', output='generic/css/conversation.css',
            'css/base.css', 'css/flashed.css', 'css/content-block.css',
            'css/avatar.css', 'css/entity-info.css', 'css/item-body.css',
            'css/pagination.css', 'css/pygments.css',
            'css/pm/conversation.css' %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock styles %}

{% block page_content %}
  <div class="modal fade bs-example-modal-lg" id="preliminary"
       tabindex="-1" role="dialog" aria-labelledby="preliminaryLabel"></div>
  <button type="button" id="toggleprelim" class="btn btn-info hidden"
          data-toggle="modal" data-target="#preliminary">
    преварительный просмотр
  </button>
  <div id="c-panel"
       data-tee="{{ csrf_token() }}"
       data-upload="{{ url_for('static', filename='images/upload.gif') }}"
       data-check="{{ url_for('main.check_task') }}"
       class="hidden"></div>
  {% set messages = get_flashed_messages() %}
  {% if pagination.items %}
    {% for each in pagination.items %}
      {% if loop.last and loop.first %}
        {% set last_on_page = 1 %}
      {% else %}
        {% set last_on_page = 0 %}
      {% endif %}
      <div class="private-message content-block
                  {% if not loop.first %}next-block{% endif %}
                  {% if loop.last %}last-message{% endif %}">
        <div class="private-message-head">
          <div class="private-message-author-avatar avatar"
               style="background: url({{ each.sender.account.get_ava_url(
                          size=68, default='mm') }})">
          </div>
          <div class="private-message-attributes entity-info">
            <h4>
              <a class="owner-profile-link"
                 href="{{ url_for(
                        'main.show_profile', username=each.sender.username) }}">
                {{ each.sender.username }}
              </a>
            </h4>
            <div class="info-line">
              <table>
                <tbody>
                  <tr>
                    <td><span class="date-info">Отправлено:&nbsp;</span></td>
                    <td>
                      <span class="date-info date-field">
                        {{ format_date(each.sent) }}
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td><span class="date-info">Получено:&nbsp;</span></td>
                    <td>
                      <span class="date-info
                                   {%if each.received %}date-field{% endif %}">
                        {% if each.received %}
                          {{ format_date(each.received) }}
                        {% else %}
                          &ndash;
                        {% endif %}
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="bottom-line footer-bottom"></div>
        </div>
        {% if messages  and loop.last%}
          {{ get_message(messages) }}
        {% endif %}
        <div class="item-body next-block to-be-hidden">
          {{ each.body_html|safe }}
        </div>
        <div class="private-message-options next-block">
          {% if loop.last  and not loop.first %}
            <button type="button"
                    title="раскрыть все"
                    class="btn btn-xs btn-info slide-down-all">
              <span class="glyphicon glyphicon-chevron-down" aria-hidden="true">
              </span>
            </button>
          {% endif %}
          <button type="button"
                  title="раскрыть"
                  class="btn btn-xs btn-default show-this">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true">
            </span>
          </button>
          <span class="optional-buttons to-be-hidden">
            {% if target.can(permissions.SEND_PM) %}
              {% if current_user == each.sender and not each.received and
                    not current_user.is_blocked_by(each.recipient) %}
                <button type="button"
                        title="редактировать"
                        data-m="{{ each.id }}"
                        data-url="{{ url_for('pm.request_editing') }}"
                        class="btn btn-xs btn-danger edit-button">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true">
                  </span>
                </button>
              {% endif %}
              {% if loop.last and pagination.page == last_page %}
                {% if current_user == each.recipient and
                      not current_user.is_blocked_by(each.sender) %}
                  <button type="button"
                          title="ответить"
                          class="btn btn-xs btn-primary answer-button">
                    <span class="glyphicon glyphicon-comment" aria-hidden="true">
                    </span>
                  </button>
                {% endif %}
                {% if current_user == each.sender and
                      not current_user.is_blocked_by(each.recipient)
                      and each.received %}
                  <button type="button"
                          title="новое сообщение"
                          class="btn btn-xs btn-primary new-message-button">
                    <span class="glyphicon glyphicon-comment" aria-hidden="true">
                    </span>
                  </button>
                {% endif %}
              {% endif %}
            {% endif %}
            <button type="button"
                    title="удалить"
                    class="btn btn-xs btn-default trash-button">
              <span class="glyphicon glyphicon-trash" aria-hidden="true">
              </span>
            </button>
            <button type="button"
                    title="удалить безвозвратно"
                    data-m="{{ each.id}}"
                    data-l="{{ last_on_page }}"
                    data-page="{{ pagination.page }}"
                    data-url="{{ url_for('pm.remove_message') }}"
                    class="btn btn-xs btn-danger to-be-hidden remove-button">
              <span class="glyphicon glyphicon-remove" aria-hidden="true">
              </span>
            </button>
          </span>
        </div>
      </div>
    {% endfor %}
  {% endif %}
  {% if not current_user.is_blocked_by(target) and
        target.can(permissions.SEND_PM) %}
    <div class="content-block slidable new-private-message
                {% if pagination.items %}to-be-hidden next-block{% endif %}">
      <div class="block-header">
        <h3 class="panel-title">
          Новое сообщение пользователю {{ target.username }}</h3>
      </div>
      <div class="block-body">
        <div class="today">{{ format_date(now) }}</div>
        <div class="form-help">
          <p>
            Введите ниже текст Вашего сообщения и нажмите кнопку "Отправить".
          </p>
        </div>
        <div class="form-form">
          <form class="form">
            <div class="form-group">
              <textarea id="private-message-editor"
                        placeholder="введите текст сообщения"
                        class="form-control" rows="8"></textarea>
            </div>
            <div class="form-group submit-group">
              <input class="btn btn-primary" type="submit"
                     data-recipient="{{ target.username }}"
                     data-url="{{ url_for('pm.send_message') }}"
                     id="private-message-submit" value="Отправить">
              <button type="button"
                      title="предварительный просмотр"
                      data-url="{{ url_for('main.show_preliminary') }}"
                      data-check="{{ url_for('main.check_preliminary') }}"
                      class="btn btn-default pushprelim">
                <span class="glyphicon glyphicon-print" aria-hidden="true">
                </span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% elif target.can(permissions.SEND_PM) %}
    <div class="flashed-message {% if pagination.items %}next-block{% endif %}">
      <div class="alert alert-warning">
        Ваш собеседник запретил Вам отправлять ему приватные сообщения.
      </div>
    </div>
  {% endif %}
  {% if messages and not target.can(permissions.SEND_PM)  and
        not pagination.items %}
    <div class="flashed-message">
      {{ get_message(messages) }}
    </div>
  {% endif %}
  {% if pagination.has_prev or pagination.has_next %}
    <div class="next-block entity-pagination text-center">
      {{ pagination_widget(
              pagination, 'pm.show_conversation', username=target.username) }}
    </div>
  {% endif %}
{% endblock page_content %}

{% block scripts %}
  {{ super() }}
  {% assets filters='jsmin', output='generic/js/conversation.js',
            'js/footer.js', 'js/custom_m.js',
            'js/check_task.js', 'js/scroll_panel.js', 'js/show_datetime.js',
            'js/adjust_frame.js', 'js/mark_error.js', 'js/adjust_blogimage.js',
            'js/adjust_twits.js', 'js/show_progress.js', 'js/prelim.js',
            'js/pm/conversation.js' %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock scripts %}
