{% extends "base.html" %}
{% from "auth/_macros.html" import get_message %}
{% from "links/_macros.html" import pagination_widget %}

{% block title %}Ваши текущие приваты{% endblock %}

{% block styles %}
  {{ super() }}
  {% assets filters='cssmin', output='generic/css/conversations.css',
            'css/base.css', 'css/flashed.css', 'css/content-block.css',
            'css/pagination.css', 'css/pm/conversations.css' %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock styles %}

{% block page_content %}
  {% set messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flashed-message">
      {{ get_message(messages) }}
    </div>
  {% endif %}
  <div class="content-block">
    <div class="block-header">
      <h3 class="panel-title">Ваши приваты</h3>
    </div>
    <div class="block-body friends-block">
      <table class="friends-table">
        <tbody>
          <tr>
            <th>№п/п</th>
            <th>Собеседник</th>
            <th>Входящие</th>
            <th>Исходящие</th>
          </tr>
          {% if pagination.items %}
            {% for each in pagination.items %}
              <tr class="{% if not each.received and
                               each.sender == current_user %}
                           new-output-message
                         {% elif not each.received and
                                 each.recipient == current_user %}
                           new-input-message
                         {% endif %}{% if not loop.last %}bordered{% endif %}">
                <td>{{ loop.index }}</td>
                <td>
                  {% if each.sender == current_user %}
                    <a href="{{ url_for(
                          'pm.show_conversation',
                          username=each.recipient.username) }}">
                      {{ each.recipient.username }}</a>
                  {% elif each.recipient == current_user %}
                    <a href="{{ url_for(
                          'pm.show_conversation',
                          username=each.sender.username) }}">
                      {{ each.sender.username }}</a>
                  {% endif %}
                </td>
                <td>
                  {% if not each.received and each.recipient == current_user %}
                    <span class="glyphicon glyphicon-flag" aria-hidden="true">
                    </span>
                  {% else %}
                    <span class="glyphicon glyphicon-option-horizontal"
                          aria-hidden="true"></span>
                  {% endif %}
                </td>
                <td>
                  {% if not each.received and each.sender == current_user %}
                    <span class="glyphicon glyphicon-flag" aria-hidden="true">
                    </span>
                  {% else %}
                    <span class="glyphicon glyphicon-option-horizontal"
                          aria-hidden="true"></span>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="4">
                <div class="alert alert-warning list-alert">
                  У Вас нет открытых приватов.
                </div>
              </td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
  {% if pagination.has_prev or pagination.has_next %}
    <div class="next-block entity-pagination text-center">
      {{ pagination_widget(pagination, 'pm.show_conversations') }}
    </div>
  {% endif %}
{% endblock page_content %}

{% block scripts %}
  {{ super() }}
  {% assets filters='jsmin', output='generic/js/conversations.js',
            'js/footer.js', 'js/custom_m.js', 'js/pm/conversations.js' %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock scripts %}
