{% if message.received %}
  <div class="editor-body to-be-hidden">
    <div class="alert alert-warning">
      Действие невозможно, сообщение уже получено адресатом, обновите страницу.
    </div>
  </div>
{% else %}
  <div class="editor-body to-be-hidden">
    <div class="form-help">
      <p>
        Ваше сообщение отложено, отредактируйте его текст и нажмите кнопку
        "Отправить", сообщение будет отредактировано и отправлено. Кнопка
        "Отменить" вернет редактируемое сообщение в прежнее состояние.
      </p>
    </div>
    <div class="form-form">
      <form class="form">
        <div class="form-group">
          <textarea id="being-edited"
                    placeholder="введите текст сообщения"
                    class="form-control" rows="8">{{ message.body }}</textarea>
        </div>
        <div class="form-group submit-group">
          <input class="btn btn-primary" type="submit"
                 data-m="{{ message.id }}"
                 data-url="{{ url_for('pm.edit_message') }}"
                 id="edit-pm" value="Отправить">
          <button type="button"
                  title="предварительный просмотр"
                  data-url="{{ url_for('main.show_preliminary') }}"
                  data-check="{{ url_for('main.check_preliminary') }}"
                  class="btn btn-default pushprelim">
            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
          </button>
          <button type="button"
                  data-u="{{ url_for(
                          'pm.show_conversation',
                          username=message.recipient.username) }}"
                  class="btn btn-default cancel-editing">
            Отменить
          </button>
        </div>
      </form>
    </div>
  </div>
{% endif %}
