<p>
  Здравствуйте, уважаемый {{ username }}.
</p>
<p>
  Вы получили это сообщение, потому что запросили смену емэйл адреса в нашем
  <a href="{{ index }}">сервисе</a>.
  Ваш прежний адрес {{ old }} в Вашем профиле будет заменен на {{ new }}.
</p>
<p>
  Для подтверждения смены адреса в Вашем профиле проследуйте по
  <a href="{{ target }}">
  ссылке</a>, которая приведёт Вас к форме смены адреса. Для смены адреса Вам
  потребуется ввести свой пароль в эту форму и подтвердить смену адреса.
</p>
<p>
  Пожалуйста, имейте ввиду, что ссылка будет действительна в течение
  {{ length }} часов. Если Вы передумали менять адрес, просто проигнорируйте
  это сообщение. Повторный запрос на смену адреса возможен не ранее чем через
  сутки.
</p>
<p>
  Благодарим Вас за использование нашего сервиса и желаем приятного времени.
</p>
