{% from "auth/_macros.html" import show_error %}

{% macro render_form(form, endpoint, slug) %}
  <div class="content-block next-block labels-editor">
    <p>
      Метки вводятся через запятую. Максимальная длина метки 32 знака. Метка
      может содержать буквы, цифры, дефис и знак подчёркивания. Допустимо
      любое количество меток.
    </p>
    <form class="form" method="POST" role="form">
      {{ form.hidden_tag() }}
      <div class="form-group {% if form.errors %}has-error{% endif %}">
        <table class="labels-form-table">
          <tr>
            <td class="input-column">
              {{ form.names.label(class="sr-only") }}
              {{ form.names(
                  class="form-control",
                  placeholder="введите через запятую названия меток") }}
            </td>
            <td>&nbsp;</td>
            <td>
              {{ form.submit(class="btn btn-info") }}
            </td>
            <td>&nbsp;</td>
            <td>
              <button type="button"
                      data-u="{{ url_for(endpoint, slug=slug) }}"
                      class="btn btn-default cancel-button">
                Отменить
              </button>
            </td>
          </tr>
          <tr>
            <td>{{ show_error(form, 'names') }}</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </form>
  </div>
{% endmacro %}
