{% extends "base.html" %}

{% from "auth/_macros.html" import get_message %}
{% from "blogs/_macros.html" import show_entity_attributes %}
{% from "lists/_macros.html" import show_item %}
{% from "labels/_macros.html" import render_form %}

{% block title %}
  Метки: {% if entity == 7 %}
          {{ target.title }}
         {% elif entity == 8 %}{{ target.abstract }}{% endif %}
{% endblock title %}

{% block styles %}
  {{ super() }}
  {% assets filters='cssmin', output='generic/css/l_edit.css',
            'css/base.css', 'css/flashed.css', 'css/content-block.css',
            'css/avatar.css', 'css/entity-info.css', 'css/item-body.css',
            'css/labels-form.css', 'css/pygments.css',
            'css/blogs/show_item.css' %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock styles %}

{% block page_content %}
  {% set messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flashed-message">
      {{ get_message(messages) }}
    </div>
  {% endif %}
  <div id="left-panel"
       data-entity="{{ entity }}"
       class="content-block slidable">
    <div class="block-header">
      <h3 class="panel-title">
        {% if entity == 7 %}{{ target.title }}
        {% elif entity == 8 %}{{ target.abstract }}{% endif %}
      </h3>
    </div>
    <div class="block-body info-block">
      {{ show_entity_attributes(target, current_user, format_date) }}
    </div>
  </div>
  {% if entity == 7 %}
    {{ render_form(form, 'lists.show_list', target.slug) }}
    {% if target.preamble %}
      <div class="content-block next-block preamble-block">
        {{ target.preamble }}
      </div>
    {% endif %}
    {% if target.sections.first() %}
      {% for section in target.sections|sort(attribute='number') %}
        {{ show_item(section, current_user, main=False, options=False) }}
      {% endfor %}
    {% else %}
      <div class="alert alert-warning list-alert next-block">
        Пустой список.
      </div>
    {% endif %}
  {% elif entity == 8 %}
    {{ render_form(form, 'blogs.show_item', target.slug) }}
    <div class="content-block next-block entity-body-block">
      {{ target.body_html|safe }}
    </div>
  {% endif %}
{% endblock page_content %}

{% block scripts %}
  {{ super() }}
  {% assets filters='jsmin', output='generic/js/l_edit.js',
            'js/footer.js', 'js/custom_m.js',
            'js/scroll_panel.js', 'js/show_datetime.js',
            'js/adjust_frame.js', 'js/adjust_twits.js',
            'js/show_list_item.js', 'js/adjust_blogimage.js',
            'js/show_hide_block.js', 'js/labels/edit.js' %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock scripts %}
