{% macro pagination_widget(pagination, endpoint) %}
  <ul class="pagination pagination-sm">
    <li {% if not pagination.has_prev %}class="disabled hidden"{% endif %}>
      <a href="{% if pagination.has_prev %}
                 {{ url_for(endpoint, page=pagination.page-1, **kwargs) }}
               {% else %}#{% endif %}">&laquo;</a>
    </li>
    {% for p in pagination.iter_pages() %}
      {% if p %}
        <li {% if p == pagination.page %}class="active"{% endif %}>
          <a href="{{ url_for(endpoint, page=p, **kwargs) }}">{{ p }}</a>
        </li>
      {% else %}
        <li class="disabled">
          <a href="#">&hellip;</a>
        </li>
      {% endif %}
    {% endfor %}
    <li {% if not pagination.has_next %}class="disabled hidden"{% endif %}>
      <a href="{% if pagination.has_next %}
                 {{ url_for(endpoint, page=pagination.page+1, **kwargs) }}
               {% else %}#{% endif %}">&raquo;</a>
    </li>
  </ul>
{% endmacro %}
