{% extends "base.html" %}
{% from "auth/_macros.html" import get_message %}
{% from "auth/_macros.html" import show_error %}
{% from "links/_macros.html" import pagination_widget %}

{% block title %}Ваши ссылки{% endblock %}

{% block styles %}
  {{ super() }}
  {% assets filters='cssmin', output='generic/css/show_links.css',
            'css/base.css', 'css/flashed.css', 'css/content-block.css',
            'css/pagination.css', 'css/links/show_links.css' %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock styles %}

{% block page_content %}
  {% set messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flashed-message">
      {{ get_message(messages) }}
    </div>
  {% endif %}
  {% if pagination.page == 1 %}
    <div class="content-block">
      <div class="block-header">
        <h3 class="panel-title">Создайте свой новый алиас</h3>
      </div>
      <div class="block-body">
        <div class="today">{{ format_date(now) }}</div>
        <div class="form-help">
          <p>
            Уважаемый {{ current_user.username }}, здесь вы можете создать алиас
            для любой внешней ссылки сети Интернет, для этого введите адрес Вашей
            ссылки в поле ввода и нажмите кнопку "Создать". Имейте ввиду, что
            поддерживаются только 'http' и 'https' ссылки с обязательным указанием
            протокола. Максимальная длина ссылки составляет 512 знаков.
          </p>
        </div>
        <div class="form-form">
          <form class="form" method="POST" role="form">
            {{ form.hidden_tag() }}
            <div class="form-group {% if form.errors %}has-error{% endif %}">
              <table class="links-form-table">
                <tr>
                  <td class="links-input-column">
                    {{ form.url.label(class="sr-only") }}
                    {{ form.url(
                        class="form-control",
                        placeholder="введите url-адрес ссылки") }}
                  </td>
                  <td>&nbsp;</td>
                  <td>{{ form.submit(class="btn btn-primary") }}</td>
                </tr>
                <tr>
                  <td>{{ show_error(form, 'url') }}</td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endif %}
  {% if repeated %}
    <div class="content-block next-block">
      <div class="block-header">
        <h3 class="panel-title">Ранее созданный алиас</h3>
      </div>
      <div class="block-body aliases-block">
        <table class="aliases-table">
          <tbody>
            <tr class="table-head">
              <th class="text-left">Ссылка</th>
              <th class="text-center">Создан</th>
              <th class="text-left">Алиас</th>
              <th class="text-center">Прыжков</th>
              <th class="text-left">Действия</th>
            </tr>
            <tr>
              <td class="text-left">
                <a href="{{ repeated.url }}" title="{{ repeated.url }}">
                  {{ repeated.parse_url() }}
                </a>
              </td>
              <td class="text-center date-field">
                {{ format_date(repeated.created) }}
              </td>
              <td class="text-left">
                <a href="{{ url_for('main.jump', spring=repeated.spring) }}"
                   title="{{ url_for(
                        'main.jump',
                        spring=repeated.spring, _external=True) }}">
                  {{ repeated.spring }}
                </a>
              </td>
              <td class="text-center">{{ repeated.clicked }}</td>
              <td class="text-left">
                <button type="button"
                        class="btn btn-default btn-xs trash-button">
                  <span class="glyphicon glyphicon-trash"
                        aria-hidden="true"></span>
                </button>
                <button type="button"
                        data-suffix="{{ repeated.spring }}"
                        data-page="{{ 1 }}"
                        data-last="{{ 0 }}"
                        data-url="{{ url_for('links.remove_alias') }}"
                        class="btn btn-danger btn-xs remove-alias to-be-hidden">
                  <span class="glyphicon glyphicon-remove-circle"
                        aria-hidden="true"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}
  <div id="aliases"
       data-tee="{{ csrf_token() }}"
       class="content-block {% if pagination.page == 1 %}next-block{% endif %}">
    <div class="block-header">
      <h3 class="panel-title">Ваши ссылки</h3>
    </div>
    <div class="block-body aliases-block">
      {% if pagination.items %}
        <table class="aliases-table">
          <tbody>
            <tr class="table-head">
              <th class="text-left">Ссылка</th>
              <th class="text-center">Создан</th>
              <th class="text-left">Алиас</th>
              <th class="text-center">Прыжков</th>
              <th class="text-left">Действия</th>
            </tr>
            {% for link in pagination.items %}
              {% if loop.first and loop.last %}
                {% set last_item = 1 %}
              {% else %}
                {% set last_item = 0 %}
              {% endif %}
              <tr {% if not loop.last %}class="bordered"{% endif %}>
                <td class="text-left">
                  <a href="{{ link.url }}" title="{{ link.url }}">
                    {{ link.parse_url() }}
                  </a>
                </td>
                <td class="text-center date-field">
                  {{ format_date(link.created) }}
                </td>
                <td class="text-left">
                  <a href="{{ url_for('main.jump', spring=link.spring) }}"
                     title="{{ url_for(
                            'main.jump',
                            spring=link.spring, _external=True) }}">
                    {{ link.spring }}
                  </a>
                </td>
                <td class="text-center">{{ link.clicked }}</td>
                <td class="text-left">
                  <button type="button"
                          title="удалить"
                          class="btn btn-default btn-xs trash-button">
                    <span class="glyphicon glyphicon-trash"
                          aria-hidden="true"></span>
                  </button>
                  <button type="button" data-suffix="{{ link.spring }}"
                          title="удалить безвозвратно"
                          data-page="{{ pagination.page }}"
                          data-last="{{ last_item }}"
                          data-url="{{ url_for('links.remove_alias') }}"
                          class="btn btn-danger btn-xs remove-alias
                                 to-be-hidden">
                    <span class="glyphicon glyphicon-remove-circle"
                          aria-hidden="true"></span>
                  </button>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <div class="alert alert-warning">
          У Вас нет ни одного алиаса.
        </div>
      {% endif %}
    </div>
  </div>
  {% if pagination.has_prev or pagination.has_next %}
    <div class="next-block entity-pagination text-center">
      {{ pagination_widget(pagination, 'links.show_links') }}
    </div>
  {% endif %}
{% endblock page_content %}

{% block scripts %}
  {{ super() }}
  {% assets filters='jsmin', output='generic/js/show_links.js',
            'js/footer.js', 'js/custom_m.js', 'js/show_datetime.js',
            'js/links/show_links.js' %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock scripts %}
