{% macro show_comments_options(entity, page, length) %}
  {#<!-- length is pagination.items|length -->#}
  <div class="next-block entity-pagination comments-options">
    <div class="comment-header">
      {% if entity.commentable %}Комментарии:
      {% else %}Комментарии закрыты{% endif %}
    </div>
    <div class="comment-options-block">
      {% if entity.commentable and page == 1 %}
        <button type="button"
                title="добавить комментарий"
                data-url="{{ url_for('commentaries.generate_form') }}"
                class="btn btn-sm btn-primary new-comment-button">
          <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
        </button>
      {% endif %}
      {% if length >=3 or entity.commentaries.count() >= 5%}
        <button type="button"
                title="раскрыть все"
                class="btn btn-sm btn-default slide-all">
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true">
          </span>
        </button>
      {% endif %}
    </div>
    <div class="footer-bottom"></div>
  </div>
{% endmacro %}

{% macro parse_prompt(target, current_user, parent=None, page=None) %}
  <form class="form">
    <div class="form-group">
      <textarea id="comment-editor" class="form-control"
                placeholder="введите текст комментария" rows="8"></textarea>
    </div>
    <div class="form-group submit-group">
      <input class="btn btn-primary" type="submit"
             data-suffix="{{ target.suffix }}"
             data-url="{{ url_for('commentaries.send_commentary') }}"
             {% if parent %}data-p="{{ parent }}"{% endif %}
             {% if page %} data-page="{{ page }}"{% endif %}
             id="comment-submit" value="Отправить">
      <button type="button"
              title="предварительный просмотр"
              data-url="{{ url_for('main.show_preliminary') }}"
              data-check="{{ url_for('main.check_preliminary') }}"
              class="btn btn-default pushprelim">
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
      </button>
    </div>
  </form>
{% endmacro %}

{% macro show_comment(
      entity, comment, current_user, permissions, last, format_date) %}
  <div class="commentary-head">
    <div class="commentary-author-avatar avatar"
         style="background: url({{ comment.author.account.get_ava_url(
                                              size=68, default='mm') }})">
    </div>
    <div class="commentary-attributes entity-info">
      <h4 class="commentary-author-name">
        <a class="owner-profile-link"
           href="{{ url_for(
                'main.show_profile', username=comment.author.username) }}">
          {{ comment.author.username }}
        </a>
      </h4>
      <div class="commentary-info-line">
        <span class="c-date-info c-date-field">
          {{ format_date(comment.timestamp) }}</span>
      </div>
      <div class="commentary-options">
        <button type="button" title="раскрыть"
                class="btn btn-default btn-xs show-this-comment">
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true">
          </span>
        </button>
        <span class="optional-buttons to-be-hidden">
          {% if current_user != comment.author %}
            {% if entity.commentable  and
                  current_user.can(permissions.WRITE_COMMENTARY) and
                  (not current_user.is_blocked_by(comment.author) or
                   current_user == entity.owner) and
                  not current_user.is_blocked_by(entity.owner) and
                  comment.len_branch() <= 14 %}
              <button type="button"
                      title="ответить"
                      data-parent="{{ comment.id }}"
                      data-url="{{ url_for('commentaries.generate_form') }}"
                      class="btn btn-xs btn-primary answer-button">
                <span class="glyphicon glyphicon-comment" aria-hidden="true">
                </span>
              </button>
            {% endif %}
            {% if current_user.can(permissions.SEND_PM) and
                  not current_user.is_blocked_by(comment.author) %}
              <a href="{{ url_for(
                  'pm.show_conversation', username=comment.author.username) }}"
                 title="приват с автором комментария"
                 class="btn btn-xs btn-info">
                <span class="glyphicon glyphicon-comment" aria-hidden="true">
                </span>
              </a>
            {% endif %}
            {% if (comment.author.can(permissions.SEND_PM) and
                   comment.author.can(permissions.WRITE_COMMENTARY)) and
                  not comment.author.is_root() and not current_user.is_root()
                  and not current_user.can(permissions.REMOVE_COMMENTARY) and
                  (current_user.can(permissions.SEND_PM) or
                   current_user.can(permissions.WRITE_COMMENTARY)) %}
              <button type="button"
                      title="{% if current_user.is_blocking(comment.author) %}
                               разблокировать автора
                             {% else %}заблокировать автора{% endif %}"
                      data-author="{{ comment.author.username }}"
                      data-url="{{ url_for('commentaries.ban_commentator') }}"
                      class="btn btn-xs
                             {% if current_user.is_blocking(comment.author) %}
                             btn-info{% else %}btn-success{% endif %}
                             blocking-button">
                <span class="glyphicon
                             {% if current_user.is_blocking(comment.author) %}
                              glyphicon-user{% else %}glyphicon-lock{% endif %}"
                      aria-hidden="true">
                </span>
              </button>
            {% endif %}
          {% endif %}
          {% if current_user == comment.author or
                (current_user == entity.owner and not comment.author.is_root())
                or
                (current_user.can(permissions.REMOVE_COMMENTARY) and
                 not comment.author.is_root())%}
            <button type="button"
                    title="удалить"
                    data-c="{{ comment.id }}"
                    data-last="{{ last }}"
                    data-url="{{ url_for('commentaries.remove_commentary') }}"
                    class="btn btn-xs btn-danger remove-comment">
              <span class="glyphicon glyphicon-remove" aria-hidden="true">
              </span>
            </button>
          {% endif %}
        </span>
      </div>
    </div>
    <div class="footer-bottom"></div>
  </div>
  <div class="commentary-body to-be-hidden">
    {{ comment.body_html|safe }}
  </div>
  <div class="answer-comment-block to-be-hidden">Hello!</div>
{% endmacro %}

{% macro show_comments_branch(
          entity, comment, current_user, permissions, last, format_date) %}
  {#<!-- last shows if the branch is last on the page -->#}
  <div class="commentaries-branch">
    {% if comment.deleted %}
      <div class="deleted-root-commentary content-block next-block">
        Комментарий удалён
      </div>
    {% else %}
      <div class="root-commentary content-block next-block">
        {{ show_comment(
              entity, comment, current_user, permissions, last, format_date) }}
      </div>
    {% endif %}
    {% if comment.children.first() %}
      {% for child in comment.children %}
        {{ show_comments_branch(
            entity, child, current_user, permissions, last, format_date) }}
      {% endfor %}
    {% endif %}
  </div>
{% endmacro %}
