{% from "commentaries/_macros.html" import parse_prompt %}

{% if parent %}
  {% if target.commentable %}
    {{ parse_prompt(target, current_user, parent, page) }}
  {% else %}
    <p class="error comment-ban">
      Комментарии закрыты для всех.
    </p>
  {% endif %}
{% else %}
  {% if current_user.is_anonymous %}
    <p class="error comment-ban">
      Анонимные пользователи не могут оставлять комментарии в этом сервисе.
      Чтобы оставить комментарий, <a href="{{ url_for('auth.login') }}">
      войдите</a>, если у Вас есть пароль, если у Вас нет пароля, его можно получить
      <a href="{{ url_for('auth.get_password') }}">здесь</a>. Имейте ввиду,
      нам интересно узнать Ваше мнение.
    </p>
  {% elif current_user.can(permissions.WRITE_COMMENTARY)
          and not current_user.is_blocked_by(target.owner) %}
    {{ parse_prompt(target, current_user) }}
  {% elif not current_user.can(permissions.WRITE_COMMENTARY)
          and current_user.can(permissions.REMOVE_COMMENTARY) %}
    <p class="error comment-ban">
      Вы не можете оставлять комментарии в этом сервисе, увы. Если
      хотите получить такую возможность, обратитесь к администрации сервиса,
      Вам изменят разрешения.
    </p>
  {% elif current_user.is_blocked_by(target.owner) %}
    <p class="error comment-ban">
      Автор топика запретил Вам оставлять комментарии в его личных
      пространствах. Видимо Вы сильно его допекли. Попробуйте наладить с ним
      отношения, возможно он изменит своё решение.
    </p>
  {% else %}
    <p class="error comment-ban">
      Вам закрыта возможность оставлять комментарии в этом сервисе, видимо Вы
      набедокурили прежде и Вас забанили в комментариях. Осознайте свою ошибку
      и, если хотите её исправить, обратитесь к администрации сервиса, Вас
      выслушают, постараются понять и, возможно, простят.
    </p>
  {% endif %}
{% endif %}
