{% macro show_society(items, page, view, format_date) %}
  <div class="content-block slidable
                {%if page == 1 %}next-block{% endif %}">
      <div class="block-header">
        <h3 class="panel-title">
          {% if view == 1 %}
            Список пользователей сервиса
          {% elif view == 2 %}
            Список найденных по запросу пользователей
          {% endif %}
        </h3>
      </div>
      <div class="block-body">
        {% if items %}
          <table class="society-table">
            <tbody>
              <tr>
                <th>Псевдоним</th>
                <th>Группа</th>
                <th class="text-right">Зарегистрирован</th>
              </tr>
              {% for user in items %}
                <tr {% if not loop.last %}class="bordered"{% endif %}>
                  <td class="username-field">
                    <a href="{{ url_for(
                          'main.show_profile', username=user.username) }}">
                      {{ user.username }}
                    </a>
                  </td>
                  <td>{{ user.group.title }}</td>
                  <td class="date-field text-right">
                    {{ format_date(user.registered) }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
      </div>
    </div>
{% endmacro %}

{% macro show_picture(picture, first, page, next, last, format_date) %}
  <div class="content-block slidable
              {% if not first or (page == 1 and next) %}
                next-block{% endif %}">
    <div class="block-header">
      <h3 class="panel-title"
          {% if picture.album.title|length > 64 %}
            title="{{ picture.album.title }}"
          {% endif %}>
        {{ picture.album.title_(64) }}
      </h3>
    </div>
    <div class="block-body">
      <div class="picture-info hidden">
        <table class="picture-table">
          <tbody>
            <tr class="bordered">
              <td>Загрузил:&nbsp;</td>
              <td class="text-right">
                <h4 class="owner-name">
                  <a href="{{ url_for(
                        'main.show_profile',
                         username=picture.album.owner.username) }}">
                    {{ picture.album.owner.username }}</a>
                </h4>
              </td>
            </tr>
            <tr class="bordered">
              <td>Загружено:&nbsp;</td>
              <td class="date-field text-right">
                {{ format_date(picture.uploaded) }}</td>
            </tr>
            <tr class="bordered">
              <td>Ссылка:&nbsp;</td>
              <td class="text-right">
                <a href="{{ url_for(
                              'main.show_picture',
                              suffix=picture.suffix, _external=True) }}">
                  {{ picture.suffix }}</a>
              </td>
            </tr>
            <tr class="bordered">
              <td>Занимает:&nbsp;</td>
              <td class="text-right">
                {% set size, units = picture.file_size() %}
                {{ size }}&nbsp;{{ units }}
              </td>
            </tr>
            <tr class="bordered">
              <td>Имя файла:&nbsp;</td>
              <td class="text-right">
                {{ picture.shorten_filename(45) }}</td>
            </tr>
            {% if picture.album.public %}
              <tr class="options-row bordered">
                <td>Слайды:&nbsp;</td>
                <td class="text-right">
                  <button type="button"
                          title="скрыть в слайдах"
                          data-page="{{ page }}"
                          data-s="{{ picture.suffix }}"
                          data-url="{{ url_for('admin.change_status') }}"
                          class="btn btn-xs btn-default slides-off">
                    <span class="glyphicon glyphicon-remove"
                          aria-hidden="true"></span>
                  </button>
                </td>
              </tr>
            {% endif %}
            <tr class="options-row">
              <td>Действия:&nbsp;</td>
              <td class="text-right">
                <button type="button"
                        title="удалить безвозвратно"
                        data-page="{{ page }}"
                        data-suffix="{{ picture.suffix }}"
                        data-last="{{ last }}"
                        data-admin="{{ 1 }}"
                        data-url="{{ url_for('pictures.remove_picture') }}"
                        data-check="{{ url_for('main.check_task') }}"
                        data-upload="{{ url_for(
                            'static', filename='images/upload.gif') }}"
                        class="btn btn-xs btn-danger remove-button hidden">
                  <span class="glyphicon glyphicon-remove"
                        aria-hidden="true"></span>
                </button>
                <button type="button"
                        title="удалить"
                        class="btn btn-xs btn-default trash-button">
                  <span class="glyphicon glyphicon-trash"
                        aria-hidden="true"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="picture-block next-block">
        <div class="options-button-block">
          <button type="button" title="показать детали"
                  class="btn btn-sm btn-default details-button">
            <span class="glyphicon glyphicon-chevron-down"
                  aria-hidden="true"></span>
          </button>
        </div>
      </div>
      <div class="picture-itself text-center">
        <img alt="{{ picture.suffix }}"
             src="{{ url_for('main.show_picture', suffix=picture.suffix) }}"
             width="{{ picture.width }}"
             height="{{ picture.height }}">
      </div>
      <div class="footer-bottom"></div>
    </div>
  </div>
{% endmacro %}
