{% if permitted %}
  <div class="block-body to-be-hidden">
    <div class="form-form text-center">
      <form class="form-inline" method="POST" role="form">
        <div class="form-group">
          {{ form.group.label(class="sr-only") }}
          {{ form.group(class="form-control") }}
        </div>
        <div class="form-group hidden">
          {{ form.target.label(class="sr-only") }}
          {{ form.target(value=target.username, disabled=True) }}
        </div>
        <div class="form-group">
          {% set url = url_for('admin.make_group_change') %}
          {% set token = csrf_token() %}
          {{ form.submit(
              class="btn btn-primary",
              **{"data-url": url, "data-tee": token}) }}
        </div>
      </form>
    </div>
  </div>
{% else %}
  <div class="block-body to-be-hidden">
    <p class="error">
      Операция не позволена. {{ target.username }} в Красной книге, охраняется
      законом Российской Федерации и международным законодательством.
    </p>
  </div>
{% endif %}
