{% from "admin/_macros.html" import show_society %}

{% if found.first() %}
  {{ show_society(found, 1, 2, format_date) }}
{% else %}
  <div class="content-block slidable next-block">
    <div class="block-header">
      <h3 class="panel-title">Найдено по запросу</h3>
    </div>
    <div class="block-body">
      <div class="alert alert-warning">Нет пользователей с таким псевдонимом</div>
    </div>
  </div>
{% endif %}
