{% extends "base.html" %}
{% from "auth/_macros.html" import get_message %}

{% block title %}Генштаб: группа по умолчанию{% endblock %}

{% block styles %}
  {{ super() }}
  {% assets filters='cssmin', output='generic/css/default_group.css',
            'css/base.css', 'css/flashed.css', 'css/content-block.css' %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock styles %}

{% block page_content %}
  {% set messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flashed-message">
      {{ get_message(messages) }}
    </div>
  {% endif %}
  <div class="content-block slidable">
    <div class="block-header">
      <h3 class="panel-title">
        Смените группу для вновь регистрируемых пользователей</h3>
    </div>
    <div class="block-body">
      <div class="today">{{ format_date(now) }}</div>
      <div class="form-help">
        <p>
          Здесь можно сменить группу для всех вновь регистрируемых
          пользователей, для этого выберите желаемую группу в выпадающем списке
          ниже и нажмите кнопку "Установить".
        </p>
      </div>
      <div class="form-form text-center">
        <form class="form-inline" method="POST" role="form">
          {{ form.hidden_tag() }}
          <div class="form-group">
            {{ form.group.label(class="sr-only") }}
            {{ form.group(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.submit(class="btn btn-danger") }}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock page_content %}

{% block scripts %}
  {{ super() }}
  {% assets filters='jsmin', output='generic/js/group.js',
            'js/footer.js', 'js/custom_m.js', 'js/show_datetime.js',
            'js/admin/group.js' %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock scripts %}
