{% extends "base.html" %}
{% from "auth/_macros.html" import get_message %}
{% from "links/_macros.html" import pagination_widget %}
{% from "admin/_macros.html" import show_picture %}

{% block title %}Генштаб: картинки{% endblock %}

{% block styles %}
  {{ super() }}
  {% assets filters='cssmin', output='generic/css/admin_pictures.css',
            'css/base.css', 'css/flashed.css', 'css/content-block.css',
            'css/pagination.css', 'css/admin/society.css' %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}

{% block page_content %}
  {% set messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flashed-message">
      {{ get_message(messages) }}
    </div>
  {% endif %}
  {% if pagination.page == 1 and pagination.has_next %}
    <div class="content-block find-picture">
      <div class="form-label text-right">
        <label for="suffix-input">Найти по суффиксу:</label>
      </div>
      <div class="form-input">
        <input type="text"
               id="suffix-input" name="suffix-input"
               data-url="{{ url_for('admin.find_picture') }}"
               data-home="{{ url_for('admin.show_pictures') }}"
               class="form-control"
               placeholder="введите суффикс url изображения">
      </div>
    </div>
  {% endif %}
  <div id="left-panel" data-tee="{{ csrf_token() }}">
    {% if pagination.items %}
      {% for picture in pagination.items %}
        {% if loop.first and loop.last %}
          {% set last_item = 1 %}
        {% else %}
          {% set last_item = 0 %}
        {% endif %}
        {{ show_picture(
            picture, loop.first,
            pagination.page, pagination.has_next,
            last_item, format_date) }}
      {% endfor %}
    {% else %}
      <div class="alert alert-warning
                  {% if pagination.has_next %}next-block{% endif %}">
        Изображения отсутствуют.
      </div>
    {% endif %}
    {% if pagination.has_prev or pagination.has_next %}
      <div class="next-block entity-pagination text-center">
        {{ pagination_widget(pagination, 'admin.show_pictures') }}
      </div>
    {% endif %}
  </div>
{% endblock page_content %}

{% block scripts %}
  {{ super() }}
  {% assets filters='jsmin', output='generic/js/admin_pictures.js',
            'js/footer.js', 'js/custom_m.js',
            'js/check_task.js', 'js/show_progress.js', 'js/remove_target.js',
            'js/scroll_panel.js', 'js/show_datetime.js',
            'js/show_hide_block.js', 'js/admin/pictures.js' %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock scripts %}
