{% from "admin/_macros.html" import show_picture %}

{% if picture %}
  {{ show_picture(picture, None, 1, True, 0, format_date) }}
{% else %}
  <div class="flashed-message next-block">
    <div class="alert alert-warning">
      <button class="close" type="button" data-dismiss="alert">
        &times;
      </button>Ничего не найдено.
    </div>
  </div>
{% endif %}
