{% extends "base.html" %}
{% from "auth/_macros.html" import get_message %}
{% from "auth/_macros.html" import render_form_group %}
{% from "links/_macros.html" import pagination_widget %}
{% from "admin/_macros.html" import show_society %}

{% block title %}Генштаб: пользователи{% endblock %}

{% block styles %}
  {{ super() }}
  {% assets filters='cssmin', output='generic/css/society.css',
            'css/base.css', 'css/flashed.css', 'css/content-block.css',
            'css/pagination.css', 'css/admin/society.css' %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock styles %}

{% block page_content %}
  {% set messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flashed-message">
      {{ get_message(messages) }}
    </div>
  {% endif %}
  {% if pagination.page == 1 %}
    <div class="content-block slidable">
      <div class="block-header">
        <h3 class="panel-title">Создайте новый аккаунт пользователя</h3>
      </div>
      <div class="block-body to-be-hidden">
        <div class="today">{{ format_date(now) }}</div>
        <div class="form-help">
          <p>
            Здесь можно создать новый аккаунт пользователя, для этого заполните
            форму ниже. Имейте ввиду, псевдоним должен быть уникальным, может
            содержать от 3-х до 16-ти знаков включая латинские буквы, цифры,
            знак подчеркивания, дефис, точка и должен начинаться с латинской
            буквы. Емэйл адрес нового пользователя должен умещаться в 128
            знаков, адрес должен быть уникальным и незарегистрированным
            в этом сервисе.
          </p>
        </div>
        <div class="form-form">
          <form class="form" method="POST" role="form">
            {{ form.hidden_tag() }}
            {{ render_form_group(
                form, form.username, 'username', 'введите псевдоним') }}
            {{ render_form_group(
                form, form.address, 'address', 'введите емэйл адрес') }}
            {{ render_form_group(
                form, form.password, 'password', 'введите новый пароль') }}
            {{ render_form_group(
                form, form.confirmation, 'confirmation', 'повторите пароль') }}
            <div class="form-group">
              <div class="form-input">
                {{ form.submit(class="btn btn-primary btn-block") }}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% if pagination.has_next %}
      <div class="content-block next-block find-username">
        <div class="form-label text-right">
          <label for="username-input">Найти по имени:</label>
        </div>
        <div class="form-input">
          <input type="text"
                 id="username-input" name="username-input"
                 data-tee="{{ csrf_token() }}"
                 data-url="{{ url_for('admin.find_users') }}"
                 data-home="{{ url_for('admin.show_users') }}"
                 class="form-control"
                 placeholder="вводите псевдоним пользователя">
        </div>
      </div>
    {% endif %}
  {% endif %}
  <div id="center-panel">
    {{ show_society(pagination.items, pagination.page, 1, format_date) }}
    {% if pagination.has_prev or pagination.has_next %}
      <div class="next-block entity-pagination text-center">
        {{ pagination_widget(pagination, 'admin.show_users') }}
      </div>
    {% endif %}
  </div>
{% endblock page_content %}

{% block scripts %}
  {{ super() }}
  {% assets filters='jsmin', output='generic/js/society.js',
            'js/footer.js', 'js/custom_m.js',
            'js/scroll_panel.js', 'js/show_datetime.js',
            'js/show_hide_block.js', 'js/admin/society.js' %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock scripts %}
