{% macro show_album_statistic(album, format_date) %}
  <div class="content-block">
    <div class="block-header">
      <h3 class="panel-title">Статистика альбома</h3>
    </div>
    <div class="block-body album-statistic">
      <table class="statistic-table">
        <tbody>
          <tr class="bordered">
            <td>Название</td>
            <td class="text-right"
                {% if album.title|length > 22 %}
                title="{{ album.title }}"{% endif %}>
              {{ album.title_(22) }}
            </td>
          </tr>
          <tr class="bordered">
            <td>Создан</td>
            <td class="text-right" id="album-created">
              {{ format_date(album.created) }}
            </td>
          </tr>
          <tr class="bordered">
            <td>Файлов</td>
            <td class="text-right">{{ album.pictures.count() }}</td>
          </tr>
          <tr class="bordered">
            <td>Размер</td>
            <td class="text-right">
              {% set size, units = album.show_size() %}
              {{ size }}&nbsp;{{ units }}
            </td>
          </tr>
          <tr>
            <td>Публичный</td>
            <td class="text-right">
              <button type="button"
                      class="btn btn-xs btn-default public-check"
                      title="изменить"
                      data-url="{{ url_for('pictures.change_status') }}"
                      data-suffix="{{ album.suffix }}">
                <span class="glyphicon
                             {% if album.public %}
                             glyphicon-ok-circle
                             {% else %}
                             glyphicon-ban-circle{% endif %}"
                      aria-hidden="true"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="album-options next-block">
        <button type="button" class="btn btn-sm btn-default btn-block showForm">
          Переименовать
        </button>
      </div>
      <div class="album-form hidden">
        <div class="form-group">
          <input type="text" class="form-control" id="titleField"
                 value="{{ album.title }}">
        </div>
        <div class="form-group">
          <button type="button"
                  data-suffix="{{ album.suffix }}"
                  data-url="{{ url_for('pictures.rename_album') }}"
                  class="btn btn-primary btn-block btn-sm rename-album">
            Переименовать
          </button>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro show_user_statistic(user, format_date) %}
  <div class="content-block">
    <div class="block-header">
      <h3 class="panel-title">{{ user.username }}</h3>
    </div>
    <div class="block-body album-statistic">
      <table class="statistic-table">
        <tbody>
          <tr class="bordered">
            <td>Здесь с</td>
            <td class="text-right" id="user-registered">
              {{ format_date(user.registered) }}
            </td>
          </tr>
          <tr class="bordered">
            <td>Группа</td>
            <td class="text-right">{{ user.group.title }}</td>
          </tr>
          <tr class="bordered">
            <td>Альбомов</td>
            <td class="text-right">{{ user.albums.count() }}</td>
          </tr>
          <tr class="bordered">
            <td>Файлов</td>
            <td class="text-right">{{ user.count_files() }}</td>
          </tr>
          <tr>
            <td>Занимает</td>
            <td class="text-right">
              {% set size, units = user.show_space() %}
              {{ size }}&nbsp;{{ units }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endmacro %}

{% macro show_picture(picture) %}
  <div class="content-block"
       data-tee="{{ csrf_token() }}"
       data-url="{{ url_for('pictures.show_next') }}">
    <span class="placeholder-pic" data-suffix="{{ picture.suffix }}"
          data-url="{{ url_for('main.show_picture', suffix=picture.suffix) }}"
          data-width="{{ picture.width }}" data-height="{{ picture.height }}">
    </span>
  </div>
{% endmacro %}
