{% extends "pictures/pictures_base.html" %}
{% from "auth/_macros.html" import get_message %}
{% from "auth/_macros.html" import show_error %}
{% from "links/_macros.html" import pagination_widget %}
{% from "pictures/_macros.html" import show_album_statistic %}

{% block title %}{{ target.title_(64) }}{% endblock %}

{% block styles %}
  {{ super() }}
  {% assets filters='cssmin', output='generic/css/album.css',
            'css/base.css', 'css/flashed.css', 'css/content-block.css',
            'css/pagination.css', 'css/pictures/albums.css' %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock styles %}

{% block page_content %}
  {% set messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flashed-message">
      {{ get_message(messages) }}
    </div>
  {% endif %}
  <div id="left-panel" data-tee="{{ csrf_token() }}">
    <div class="content-block">
      <div class="block-header">
        <h3 class="panel-title"
            {% if target.title|length > 50 %}
              title="{{ target.title }}"
            {% endif %}>{{ target.title_(50) }}</h3>
      </div>
      <div class="block-body">
        <div class="albums-options text-center">
          <button type="button"
                  class="btn btn-info btn-sm go-home"
                  data-dest="{{ url_for('pictures.show_albums') }}"
                  title="к списку альбомов">
            <span class="glyphicon glyphicon-home" aria-hidden="true">
            </span>
          </button>
          <button type="button" class="btn btn-info btn-sm show-statistic"
                  data-suffix="{{ target.suffix }}"
                  data-url="{{ url_for('pictures.show_album_statistic') }}"
                  title="показать статистику альбома">
            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
          </button>
          {% if pagination.page == 1 %}
          <button type="button"
                  class="btn btn-default btn-sm album-reload"
                  data-dest="{{ url_for(
                          'pictures.show_album', suffix=target.suffix) }}"
                  title="обновить">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true">
            </span>
          </button>
          <button type="button"
                  class="btn btn-primary btn-sm upload-new"
                  title="добавить картинку">
            <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
          </button>
          <button type="button"
                  class="btn btn-primary btn-sm upload-from"
                  title="добавить url">
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
          </button>
          {% else %}
          <button type="button"
                  class="btn btn-default btn-sm album-reload"
                  data-dest="{{ url_for(
                          'pictures.show_album', suffix=target.suffix) }}"
                  title="в начало">
            <span class="glyphicon glyphicon-circle-arrow-left"
                  aria-hidden="true"></span>
          </button>
          {% endif %}
        </div>
        <div class="block-body-form hidden">
          <div class="today">{{ format_date(now) }}</div>
          <div class="form-help">
            <p>
              Кликните левой кнопкой мышки в поле выбора файла и выберите файл,
              который желаете загрузить на сервер, загрузка изображения начнётся
              автоматически. Поддерживаются следующие форматы: JPEG, PNG, GIF.
              Максимальный размер файла ограничен 5 MB (5*1024*1024 байт). Длина
              имени файла не может превышать 128 символов. Имя файла должно
              состоять из латинских букв (кириллица не будет отображаться).
              После загрузки файл подвергнется верификации и после неё будет
              доступен в списке ниже.
            </p>
          </div>
          <div class="form-form">
            <form class="form" method="POST" role="form"
                  enctype="multipart/form-data">
              {{ form.hidden_tag() }}
              <div class="form-group">
                {{ form.image }}
                {{ show_error(form, 'image') }}
              </div>
              <div class="form-group hidden">
                {{ form.submit(class="btn btn-default") }}
              </div>
              <div class="form-group upload-progress-block hidden text-center">
                <img alt="uploading" width="32" height="32"
                   src="{{ url_for('static', filename='images/upload.gif') }}">
              </div>
            </form>
          </div>
        </div>
        <div class="block-link-form to-be-hidden">
          <div class="today">{{ format_date(now) }}</div>
          <div class="form-help">
            <p>
              Впишите url-адрес изображения в сети. Поддерживаются только
              'http' и 'https' адреса с обязательным указанием протокола.
              Максимальная длина ссылки - 512 символов.
            </p>
          </div>
          <div class="form-form">
            <table class="link-form-table">
              <tr>
                <td class="input-width">
                  <input class="form-control" type="text"
                         placeholder="введите url-адрес"
                         id="picture-address">
                </td>
                <td>&nbsp;</td>
                <td>
                  <button type="button"
                          data-suffix="{{ target.suffix }}"
                          data-url="{{ url_for('pictures.upload_from') }}"
                          class="btn btn-primary upload-url">
                    Загрузить
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>
        {% if pagination.items %}
          <div class="items-table-block">
            <table class="items-table">
              <tbody>
                {% for pic in pagination.items %}
                  {% if loop.first and loop.last %}
                    {% set last_item = 1 %}
                  {% else %}
                    {% set last_item = 0 %}
                  {% endif %}
                  <tr class="{% if not loop.last %}bordered{% endif %}">
                    <td class="album-header-panel"
                        data-suffix="{{ pic.suffix }}"
                        data-url="{{ url_for('pictures.show_picture') }}"
                        {% if pic.filename|length > 40 %}
                          title="{{ pic.filename }}"
                        {% endif %}>
                      <span class="glyphicon glyphicon-picture"
                            aria-hidden="true"></span>
                      {{ pic.shorten_filename(40) }}
                    </td>
                    <td class="text-right album-tools-panel">
                      <button type="button"
                              class="btn btn-sm btn-danger remove-button
                                     to-be-hidden"
                              data-suffix="{{ pic.suffix }}"
                              data-page="{{ pagination.page }}"
                              data-last="{{ last_item }}"
                              data-url="{{ url_for(
                                  'pictures.remove_picture') }}"
                              data-check="{{ url_for('main.check_task') }}"
                              data-upload="{{ url_for(
                                  'static', filename='images/upload.gif') }}"
                              title="удалить безвозвратно">
                        <span class="glyphicon glyphicon-remove-circle"
                              aria-hidden="true"></span>
                      </button>
                      <button type="button"
                              class="btn btn-sm btn-default trash-button"
                              title="удалить">
                        <span class="glyphicon glyphicon-trash"
                              aria-hidden="true">
                        </span>
                      </button>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <div class="alert alert-warning">
            Изображения не найдены.
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div id="right-panel">
    {{ show_album_statistic(target, format_date) }}
  </div>
  {% if pagination.has_prev or pagination.has_next %}
    <div class="entity-pagination footer-bottom text-center">
      {{ pagination_widget(
          pagination, 'pictures.show_album', suffix=target.suffix) }}
    </div>
  {% endif %}
{% endblock page_content %}

{% block scripts %}
  {{ super() }}
  {% assets filters='jsmin', output='generic/js/album.js',
            'vendor/clipboard.min.js', 'js/footer.js',
            'js/custom_m.js', 'js/check_task.js',
            'js/show_progress.js', 'js/remove_target.js',
            'js/show_datetime.js', 'js/pictures/base.js',
            'js/pictures/album.js' %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock scripts %}
