{% extends "pictures/pictures_base.html" %}
{% from "auth/_macros.html" import get_message %}
{% from "auth/_macros.html" import render_form_group %}
{% from "auth/_macros.html" import render_form_boolean %}
{% from "links/_macros.html" import pagination_widget %}
{% from "pictures/_macros.html" import show_user_statistic %}

{% block title %}Ваши альбомы{% endblock %}

{% block styles %}
  {{ super() }}
  {% assets filters='cssmin', output='generic/css/albums.css',
            'css/base.css', 'css/flashed.css', 'css/content-block.css',
            'css/pagination.css', 'css/pictures/albums.css' %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock styles %}

{% block page_content %}
  {% set messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flashed-message">
      {{ get_message(messages) }}
    </div>
  {% endif %}
  <div id="left-panel" data-tee="{{ csrf_token() }}">
    <div class="content-block">
      <div class="block-header">
        <h3 class="panel-title">Блок альбомов</h3>
      </div>
      <div class="block-body">
        <div class="albums-options text-center">
          <button type="button"
                  class="btn btn-info btn-sm user-home"
                  data-username="{{ current_user.username }}"
                  data-url="{{ url_for('pictures.show_user_statistic') }}"
                  title="показать статистику">
            <span class="glyphicon glyphicon-home" aria-hidden="true">
            </span>
          </button>
          {% if pagination.page == 1 %}
          <button type="button"
                  class="btn btn-default btn-sm album-reload"
                  data-dest="{{ url_for('pictures.show_albums') }}"
                  title="обновить">
            <span class="glyphicon glyphicon-refresh"
                  aria-hidden="true"></span>
          </button>
          <button type="button"
                  class="btn btn-primary btn-sm create-new"
                  title="создать новый">
            <span
                class="glyphicon glyphicon-folder-close"
                aria-hidden="true">
            </span>
          </button>
          {% else %}
          <button type="button"
                  class="btn btn-default btn-sm album-reload"
                  data-dest="{{ url_for('pictures.show_albums') }}"
                  title="в начало">
            <span class="glyphicon glyphicon-circle-arrow-left"
                  aria-hidden="true"></span>
          </button>
          {% endif %}
        </div>
        <div class="block-body-form hidden">
          <div class="today">{{ format_date(now) }}</div>
          <div class="form-help">
            <p>
              Для создания нового альбом введите его наименование (от 3-х
              до 100-а знаков) и кликните левой кнопкой мыши по кнопке
              "Создать". Галочка в поле "Публичный" позволит изображениям
              этого альбома участвовать в слайдах.
            </p>
          </div>
          <div class="form-form">
            <form class="form" method="POST" role="form">
              {{ form.hidden_tag() }}
              {{ render_form_group(
                  form, form.title, 'title', 'введите наименование') }}
              {{ render_form_boolean(form, form.public) }}
              <div class="form-group">
                <div class="form-input">
                  {{ form.submit(class="btn btn-primary btn-block") }}
                </div>
              </div>
            </form>
          </div>
        </div>
        {% if pagination.items %}
          <div class="items-table-block">
            <table class="items-table">
              <tbody>
                {% for album in pagination.items %}
                  {% if loop.first and loop.last %}
                    {% set last_item = 1 %}
                  {% else %}
                    {% set last_item = 0 %}
                  {% endif %}
                  <tr class="{% if not loop.last %}bordered{% endif %}">
                    <td class="album-header-panel"
                        data-url="{{ url_for('pictures.show_album_statistic') }}"
                        {% if album.title|length > 40 %}
                          title="{{ album.title }}"{% endif %}
                        data-suffix="{{ album.suffix }}">
                      {{ album.title_(40) }}
                    </td>
                    <td class="text-right album-tools-panel">
                      <button type="button"
                              class="btn btn-sm btn-default trash-button"
                              title="удалить">
                        <span class="glyphicon glyphicon-trash"
                              aria-hidden="true"></span>
                      </button>
                      <button type="button"
                              class="btn btn-sm btn-danger remove-button
                                     to-be-hidden"
                              data-suffix="{{ album.suffix }}"
                              data-page="{{ pagination.page }}"
                              data-last="{{ last_item }}"
                              data-url="{{ url_for('pictures.remove_album') }}"
                              data-check="{{ url_for('main.check_task') }}"
                              data-upload="{{ url_for(
                                  'static', filename='images/upload.gif') }}"
                              title="удалить безвозвратно">
                        <span class="glyphicon glyphicon-remove-circle"
                              aria-hidden="true"></span>
                      </button>
                      <button type="button"
                              class="btn btn-sm btn-primary show-album"
                              data-dest="{{ url_for(
                                    'pictures.show_album', suffix=album.suffix) }}"
                              title="в альбом">
                        <span class="glyphicon glyphicon-folder-open"
                              aria-hidden="true"></span>
                      </button>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <div class="alert alert-warning">
            Нет альбомов с изображениями.
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div id="right-panel">
    {{ show_user_statistic(current_user, format_date) }}
  </div>
  {% if pagination.has_prev or pagination.has_next %}
    <div class="entity-pagination footer-bottom text-center">
      {{ pagination_widget(pagination, 'pictures.show_albums') }}
    </div>
  {% endif %}
{% endblock page_content %}

{% block scripts %}
  {{ super() }}
  {% assets filters='jsmin', output='generic/js/albums.js',
            'js/footer.js', 'js/custom_m.js',
            'js/check_task.js', 'js/show_progress.js', 'js/remove_target.js',
            'js/show_datetime.js', 'js/pictures/base.js',
            'js/pictures/albums.js' %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock scripts %}
