{% extends "base.html" %}

{% block page_body %}
  <div id="main-container" class="container-fluid">
    <div class="row">
      <div id="content"
           class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
        {% block page_content %}{% endblock page_content %}
      </div>
    </div>
  </div>
{% endblock page_body %}
