<div class="content-block">
  <div class="block-header">
    <h3 class="panel-title">
      {{ picture.shorten_filename(25) }}
    </h3>
  </div>
  <div class="block-body album-statistic">
    <table class="statistic-table">
      <tbody>
        <tr class="bordered">
          <td>Файл</td>
          <td class="text-right"
              {% if picture.filename|length > 20 %}
              title="{{ picture.filename }}"{% endif %}>
            {{ picture.shorten_filename(20) }}
          </td>
        </tr>
        <tr class="bordered">
          <td>Загружен</td>
          <td class="text-right" id="picture-uploaded">
            {{ format_date(picture.uploaded) }}
          </td>
        </tr>
        <tr class="bordered">
          <td>Формат</td>
          <td class="text-right">{{ picture.format }}</td>
        </tr>
        <tr class="bordered">
          <td>Размер</td>
          <td class="text-right">
            {{ picture.width }}&times;{{ picture.height }}
          </td>
        </tr>
        <tr>
          <td>Занимает</td>
          <td class="text-right">
            {% set size, units = picture.file_size() %}
            {{ size }}&nbsp;{{ units }}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="album-options next-block">
      <button type="button" class="btn btn-sm btn-default btn-block copyLink">
        Получить ссылку
      </button>
    </div>
    <div class="album-form hidden">
      <div class="form-group">
        <input id="copy-box" class="form-control" type="text"
               value="{{ url_for(
                    'main.show_picture',
                     suffix=picture.suffix, _external=True) }}">
      </div>
      <div class="form-group">
        <button id="copy-button" type="button"
                data-clipboard-target="#copy-box"
                class="btn btn-sm btn-primary btn-block">
          Скопировать в буфер обмена
        </button>
      </div>
    </div>
    <div class="picture-body next-block text-center">
      <img src="{{ url_for('main.show_picture', suffix=picture.suffix) }}"
           alt="{{ picture.suffix }}"
           width="{{ picture.width }}" height="{{ picture.height }}">
    </div>
  </div>
</div>
