{% extends "base.html" %}
{% from "pictures/_macros.html" import show_picture %}

{% block title %}Слайды{% endblock %}

{% block styles %}
  {{ super() }}
  {% assets filters='cssmin', output='generic/css/slides.css',
            'css/base.css', 'css/flashed.css', 'css/content-block.css',
            'css/pictures/slides.css' %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock styles %}

{% block page_body %}
  <div id="main-container" class="container-fluid">
    <div class="row">
      <div id="content"
           class="col-lg-10 col-md-10
                  col-lg-offset-1 col-md-offset-1">
        <div id="slides">
          {% if pic %}
            {{ show_picture(pic) }}
          {% else %}
            <div class="flashed-message">
              <div class="alert alert-warning">
                Подходящих картинок нет.
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock page_body %}

{% block scripts %}
  {{ super() }}
  {% assets filters='jsmin', output='generic/js/slides.js',
            'js/footer.js', 'js/custom_m.js',
            'js/pictures/slides.js' %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock scripts %}
