{% extends "base.html" %}

{% block styles %}
  {{ super() }}
  {% assets filters='cssmin', output='generic/css/auth.css',
            'css/base.css', 'css/content-block.css',
            'css/auth/form-block.css' %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock styles %}

{% block page_body %}
  <div id="main-container" class="container-fluid">
    <div class="row">
      <div id="content" class="col-lg-6 col-md-8 col-sm-10
                               col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
        {% block form_content %}{% endblock form_content %}
      </div>
    </div>
  </div>
{% endblock page_body %}

{% block scripts %}
  {{ super() }}
  {% assets filters='jsmin', output='generic/js/auth.js',
            'js/footer.js', 'js/custom_m.js', 'js/show_datetime.js',
            'js/auth/login.js' %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock scripts %}
