{% extends "auth/auth_base.html" %}

{% from "auth/_macros.html" import get_message %}
{% from "auth/_macros.html" import render_form_group %}

{% block title %}Смена пароля{% endblock %}

{% block form_content %}
  <div class="form-block content-block">
    <div class="block-header">
      <h3 class="panel-title">Смените свой пароль</h3>
    </div>
    <div class="block-body">
      <div class="today">{{ format_date(now) }}</div>
      <div class="form-help">
        <p>
          Уважаемый {{ current_user.username }}, для смены Вашего текущего
          пароля заполните форму ниже. Введите в соответствующие поля Ваш
          текущий пароль и новый пароль. Повторите новый пароль. После нажатия
          кнопки "Сменить пароль", Ваш текущий пароль будет заменён на новый.
          Будьте внимательны, в случае, если Вы забыли свой текущий пароль, Вы
          можете его сбросить в соответствующем разделе сервиса.
        </p>
      </div>
      {% set messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flashed-message">
          {{ get_message(messages) }}
        </div>
      {% endif %}
      <div class="form-form">
        <form class="form" method="POST" role="form">
          {{ form.hidden_tag() }}
          {{ render_form_group(
              form, form.current, 'current', 'введите текущий пароль') }}
          {{ render_form_group(
              form, form.password, 'password', 'введите новый пароль') }}
          {{ render_form_group(
              form, form.confirmation,
              'confirmation', 'повторите новый пароль') }}
          <div class="form-group">
            <div class="form-input">
              {{ form.submit(class="btn btn-primary btn-block") }}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock form_content %}
