{% extends "auth/auth_base.html" %}

{% from "auth/_macros.html" import get_message %}
{% from "auth/_macros.html" import render_captcha_group %}
{% from "auth/_macros.html" import render_form_group %}

{% block title %}Смена адреса{% endblock %}

{% block form_content %}
  <div class="form-block content-block">
    <div class="block-header">
      <h3 class="panel-title">Смена адреса</h3>
    </div>
    <div class="block-body">
      <div class="today">{{ format_date(now) }}</div>
      <div class="form-help">
        <p>
          Уважаемый {{ current_user.username }}, Вы запросили смену емэйл адреса
          для своего аккаунта. В форму ниже введите свой пароль и код с
          картинки, нажмите кнопку "Сменить адрес". Вы можете отказаться от
          смены адреса, для этого просто покиньте эту страницу, ссылка на эту
          страницу выгорит автоматически. Если не можете прочесть код на
          картинке, просто обновите страницу в браузере или нажмите кнопку
          "обновить картинку" ниже.
        </p>
      </div>
      {% set messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flashed-message">
          {{ get_message(messages) }}
        </div>
      {% endif %}
      <div class="form-group-service">
        <div class="form-label text-right">
          Новый адрес:
        </div>
        <div class="form-input">
          {{ swap }}
        </div>
        <div class="form-group-bottom"></div>
      </div>
      <div class="form-form">
        <form class="form" method="POST" role="form">
          {{ form.hidden_tag() }}
          {{ render_form_group(
              form, form.password, 'password', 'введите пароль') }}
          {{ render_captcha_group(form, suffix) }}
          <div class="form-group">
            <div class="form-input">
              {{ form.submit(class="btn btn-primary") }}
              <button type="button" title="обновить картинку"
                      class="btn btn-default reload-button">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true">
                </span>
              </button>
              <button type="button" title="передумать"
                      data-url="{{ url_for('main.index') }}"
                      class="btn btn-default denial-button">
                <span class="glyphicon glyphicon-remove-circle"
                      aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock form_content %}
