{% extends "auth/auth_base.html" %}

{% from "auth/_macros.html" import get_message %}
{% from "auth/_macros.html" import render_captcha_group %}
{% from "auth/_macros.html" import render_form_group %}

{% block title %}Создайте свой пароль{% endblock %}

{% block form_content %}
  <div class="form-block content-block">
    <div class="block-header">
      <h3 class="panel-title">Создайте свой пароль</h3>
    </div>
    <div class="block-body">
      <div class="today">{{ format_date(now) }}</div>
      <div class="form-help">
        <p>
          Уважаемый гость, для создания пароля заполните форму ниже.
          Введите в соответствующие поля Ваш желаемый псевдоним в сервисе,
          пароль и код с картинки. Пароль нужно ввести дважды. Нажмите кнопку
          "Создать пароль". Будьте внимательны, эти данные Вам потребуются позже
          для входа в сервис, а восстановить пароль возможно не ранее чем через
          24 часа. Если не можете прочесть код на картинке, просто обновите
          страницу в браузере или нажмите кнопку "обновить картинку" ниже.
        </p>
      </div>
      {% set messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flashed-message">
          {{ get_message(messages) }}
        </div>
      {% endif %}
      <div class="form-form">
        <form class="form" method="POST" role="form">
          {{ form.hidden_tag() }}
          {{ render_form_group(
              form, form.username, 'username', 'введите псевдоним') }}
          {{ render_form_group(
              form, form.password, 'password', 'введите новый пароль') }}
          {{ render_form_group(
              form, form.confirmation,
              'confirmation', 'повторите пароль') }}
          {{ render_captcha_group(form, suffix) }}
          <div class="form-group">
            <div class="form-input">
              {{ form.submit(class="btn btn-primary") }}
              <button type="button" title="обновить картинку"
                      class="btn btn-default reload-button">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true">
                </span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock form_content %}
