{% extends "auth/auth_base.html" %}

{% from "auth/_macros.html" import get_message %}
{% from "auth/_macros.html" import render_captcha_group %}
{% from "auth/_macros.html" import render_form_group %}
{% from "auth/_macros.html" import render_form_boolean %}

{% block title %}Входим{% endblock %}

{% block form_content %}
  <div class="form-block content-block">
    <div class="block-header">
      <h3 class="panel-title">Вход в сервис</h3>
    </div>
    <div class="block-body">
      <div class="today">{{ format_date(now) }}</div>
      <div class="form-help">
        <p>
          Для входа в сервис введите логин, пароль и код с картинки, кликните
          левой кнопкой мыши по кнопке "Войти в сервис" и получите доступ к
          возможностям сервиса. Логином может быть зарегистрированный юзернэйм
          или адрес электронной почты. Если не можете прочесть код на картинке,
          просто обновите страницу в браузере или нажмите кнопку "обновить
          картинку" ниже.
        </p>
      </div>
      {% set messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flashed-message">
          {{ get_message(messages) }}
        </div>
      {% endif %}
      <div class="form-form">
        <form class="form" method="POST" role="form">
          {{ form.hidden_tag() }}
          {{ render_form_group(
              form, form.login, 'login', 'введите логин') }}
          {{ render_form_group(
              form, form.password, 'password', 'введите пароль') }}
          {{ render_form_boolean(form, form.remember_me) }}
          {{ render_captcha_group(form, suffix) }}
          <div class="form-group">
            <div class="form-input">
              {{ form.submit(class="btn btn-primary") }}
              <a class="btn btn-info"
                 href="{{ url_for('auth.get_password') }}">
                Получить пароль
              </a>
              <button type="button" title="обновить картинку"
                      class="btn btn-default reload-button">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true">
                </span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock form_content %}
