{% extends "auth/auth_base.html" %}

{% from "auth/_macros.html" import get_message %}
{% from "auth/_macros.html" import render_form_group %}

{% block title %}Запрос смены адреса{% endblock %}

{% block form_content %}
  <div class="form-block content-block">
    <div class="block-header">
      <h3 class="panel-title">Запрос смены адреса</h3>
    </div>
    <div class="block-body">
      <div class="today">{{ format_date(now) }}</div>
      <div class="form-help">
        <p>
          Уважаемый {{ current_user.username }}, для смены емэйл адреса Вашего
          аккаунта заполните форму ниже. Введите в соответствующее поле Ваш
          новый емэйл адрес и нажмите кнопку "Отправить". На Ваш новый адрес
          будет выслана инструкция о дальнейших действиях, следуйте ей.
          Имейте ввиду, что смену адреса и сброс пароля вы можете запросить
          один раз в 24 часа и не ранее 24-х часов с момента регистрации.
        </p>
      </div>
      {% set messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flashed-message">
          {{ get_message(messages) }}
        </div>
      {% endif %}
      <div class="form-form">
        <form class="form" method="POST" role="form">
          {{ form.hidden_tag() }}
          {{ render_form_group(
              form, form.swap, 'swap', 'введите емэйл адрес') }}
          <div class="form-group">
            <div class="form-input">
              {{ form.submit(class="btn btn-primary btn-block") }}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock form_content %}
