{% extends "auth/auth_base.html" %}

{% from "auth/_macros.html" import get_message %}
{% from "auth/_macros.html" import render_captcha_group %}
{% from "auth/_macros.html" import render_form_group %}

{% block title %}Сброс пароля{% endblock %}

{% block form_content %}
  <div class="form-block content-block">
    <div class="block-header">
      <h3 class="panel-title">Сброс пароля</h3>
    </div>
    <div class="block-body">
      <div class="today">{{ format_date(now) }}</div>
      <div class="form-help">
        <p>
          Уважаемый гость, здесь Вы сможете обновить свой забытый пароль, для
          этого заполните форму ниже. Введите в соответствующие поля Ваш емэйл
          адрес зарегистрированный в сервисе, новый пароль и код с картинки.
          Новый пароль нужно ввести дважды. Нажмите кнопку "Обновить пароль".
          Будьте внимательны, после обновления пароля вы сможете войти в сервис
          только с новым паролем. Если не можете прочесть код на картинке,
          просто обновите страницу в браузере или нажмите кнопку "обновить
          картинку" ниже.
        </p>
      </div>
      {% set messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flashed-message">
          {{ get_message(messages) }}
        </div>
      {% endif %}
      <div class="form-form">
        <form class="form" method="POST" role="form">
          {{ form.hidden_tag() }}
          {{ render_form_group(
              form, form.address, 'address', 'введите свой емэйл адрес') }}
          {{ render_form_group(
              form, form.password, 'password', 'введите новый пароль') }}
          {{ render_form_group(
              form, form.confirmation, 'confirmation', 'повторите пароль') }}
          {{ render_captcha_group(form, suffix) }}
          <div class="form-group">
            <div class="form-input">
              {{ form.submit(class="btn btn-primary") }}
              <button type="button" title="обновить картинку"
                      class="btn btn-default reload-button">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true">
                </span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock form_content %}
