{% macro show_common(item) %}
<span class="label label-info white-space clicks-show"><span
    class="glyphicon glyphicon-eye-open
           white-space"></span>{{ item.clicked }}</span><span
    class="label label-success likes white-space"><span
    class="glyphicon glyphicon-thumbs-up
           white-space"></span>{{ item.l_users.count() }}</span><span
    class="label label-danger dislikes white-space"><span
    class="glyphicon glyphicon-thumbs-down
           white-space"></span>{{ item.d_users.count() }}</span><span
    class="label
    {%if item.commentable %}label-info{% else %}label-warning{% endif %}
    white-space"><span
    class="glyphicon glyphicon-comment
           white-space"></span>{{ item.count_comments() }}</span>
    {%- if item.censored -%}<span
    class="label label-danger white-space"><span
    class="glyphicon glyphicon-lock"
    aria-hidden="true"></span></span>{%- endif -%}
{%- endmacro -%}

{%-  macro show_private(item) -%}
<span class="label white-space
            {% if item.public %}
            label-info
            {% else %}
            label-success
            {% endif %}">
  {%- if item.public -%}public{%- else -%}private{%- endif -%}
</span>{%- if item.public and item.hidden -%}<span
  class="label label-warning white-space"><span
    class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></span>
{%- endif -%}
{%- endmacro -%}

{% macro show_published(item, format_date) %}
  <tr>
    <td><span class="date-info">Опубликован:&nbsp;</span></td>
    <td>
      <span class="date-info date-field">
        {{ format_date(item.published) }}
      </span>
    </td>
  </tr>
{% endmacro %}

{% macro show_info_line(item, current_user, format_date) %}
  <table>
    <tbody>
      {% if current_user == item.owner %}
        <tr>
          <td><span class="date-info">Создан:&nbsp;</span></td>
          <td>
            <span class="date-info date-field">
              {{ format_date(item.created) }}
            </span>
          </td>
        </tr>
        {% if item.public or item.published != item.created %}
          {{ show_published(item, format_date) }}
        {% endif %}
      {% else %}
        {{ show_published(item, format_date) }}
      {% endif %}
      {% if item.edited != item.published and item.edited != item.created %}
        <tr>
          <td><span class="date-info">Отредактирован:&nbsp;</span></td>
          <td>
            <span class="date-info date-field">
              {{ format_date(item.edited) }}
            </span>
          </td>
        </tr>
      {% endif %}
    </tbody>
  </table>
{% endmacro %}

{% macro private_options(item, current_user, permissions) %}
  {% if current_user.can(permissions.CREATE_ENTITY) %}
  <button type="button" title="редактировать метки"
          data-url="{{ url_for('labels.edit_labels', suffix=item.suffix) }}"
          class="btn btn-primary btn-sm labels-button">
        <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
      </button>
  <button type="button" title="редактировать заголовок"
          class="btn btn-danger btn-sm edit-title">
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
  </button>
  <button type="button" title="редактировать текст"
          class="btn btn-danger btn-sm edit-text">
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
  </button>
  {% endif %}
  {% if not item.censored %}
  <button type="button"
          title="{% if item.public %}убрать в приват{% else %}опубликовать{% endif %}"
          data-url="{{ url_for('blogs.change_public') }}"
          class="btn {% if item.public %}
                       btn-success{% else %}btn-info{% endif %} btn-sm
                       public-button">
    <span class="glyphicon {% if item.public%}
                             glyphicon-share-alt
                           {% else %}glyphicon-share{% endif %}"
          aria-hidden="true"></span>
  </button>
  {% endif %}
  {% if item.public %}
  <button type="button"
          title="{% if item.hidden %}показать в куче
                 {% else %}спрятать в куче{% endif %}"
          data-url="{{ url_for('blogs.change_hidden') }}"
          class="btn {% if item.hidden %}
          btn-info{% else %}btn-warning{% endif %} btn-sm heap-button">
    <span class="glyphicon
     {% if item.hidden %}
       glyphicon-eye-open
     {% else %}glyphicon-eye-close{% endif %}" aria-hidden="true"></span>
  </button>
  {% endif %}
  <button type="button"
          title="{% if item.commentable %}
                  закрыть комментарии{% else %}открыть комментарии{% endif %}"
          data-url="{{ url_for('blogs.change_comments') }}"
          class="btn
          {% if item.commentable %}btn-warning{% else %}btn-info{% endif %}
           btn-sm commentary-state-button">
    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
  </button>
  {% if current_user.can(permissions.CREATE_ENTITY) and not item.censored %}
  <button type="button" title="в список"
          data-url="{{ url_for('blogs.bond_item') }}"
          class="btn btn-info btn-sm bond-button">
    <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
  </button>
  {% endif %}
  <button type="button" title="удалить"
          class="btn btn-default btn-sm trash-button">
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
  </button>
  <button type="button" title="удалить безвозвратно"
          data-url="{{ url_for('blogs.remove_item') }}"
          class="btn btn-danger btn-sm remove-button to-be-hidden">
    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
  </button>
{% endmacro %}

{% macro society_options(item, current_user, permissions) %}
  {% if not item.owner.is_followed_by(current_user) and
        not item.owner.is_blocking(current_user) %}
  <button type="button" title="в ленту"
          data-url="{{ url_for('blogs.follow_owner') }}"
          class="btn btn-success btn-sm tape-in">
    <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
  </button>
  {% endif %}
  <button type="button" title="нравится"
          data-url="{{ url_for('blogs.add_like') }}"
          class="btn btn-success btn-sm like-button">
    <span
        class="glyphicon glyphicon-thumbs-up white-space"
        aria-hidden="true"></span>{{ item.l_users.count() }}
  </button>
  <button type="button" title="не нравится"
          data-url="{{ url_for('blogs.add_dislike') }}"
          class="btn btn-warning btn-sm dislike-button">
    <span class="glyphicon glyphicon-thumbs-down white-space"
          aria-hidden="true"></span>{{ item.d_users.count() }}
  </button>
  {% if current_user.is_following(item.owner) %}
  <button type="button" title="из ленты"
          data-url="{{ url_for('blogs.unfollow_owner') }}"
          class="btn btn-warning btn-sm tape-out">
    <span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>
  </button>
  {% endif %}
  {% if current_user.can(permissions.BLOCK_ENTITY) and
        not item.owner.is_root() %}
    <button type="button" title="{% if item.censored %}восстановить{% else %}заблокировать{% endif %}"
            data-url="{{ url_for('blogs.change_censored') }}"
            class="btn btn-success btn-sm censor-this">
      <span class="glyphicon {% if item.censored %}glyphicon-check
                   {% else %} glyphicon-lock{% endif %}"
            aria-hidden="true"></span>
    </button>
  {% endif %}
{% endmacro %}

{% macro show_entity_attributes(item, current_user, format_date) %}
  <div class="entity-attributes">
    <div class="owner-avatar avatar"
         style="background: url({{ item.owner.account.get_ava_url(size=88, default='mm') }})">
    </div>
    <div class="entity-info">
      <h4>
        <a class="owner-profile-link" href="{{ url_for(
            'main.show_profile', username=item.owner.username) }}">
          {{ item.owner.username }}</a>
      </h4>
      <div class="info-line">
        {{ show_info_line(item, current_user, format_date) }}
      </div>
    </div>
    <div class="footer-bottom"></div>
  </div>
{% endmacro %}

{% macro show_entity_options(item, current_user, permissions) %}
  <button type="button" title="обновить"
          data-update="{{ url_for('blogs.show_item', slug=item.slug) }}"
          class="btn btn-default btn-sm update-button">
    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
  </button>
  {% if current_user == item.owner %}
    {{ private_options(item, current_user, permissions) }}
  {% endif %}
  {% if current_user != item.owner and
        current_user.can(permissions.READ_JOURNAL) %}
    {{ society_options(item, current_user, permissions) }}
  {% endif %}
{% endmacro %}

{% macro show_labels(labels, endpoint, username=None) %}
  {% for label in labels %}
    {% if username %}
      <a href="{{ url_for(
                    endpoint, username=username, labelname=label.name) }}">
        {{ label.name }}</a>{%- if not loop.last -%}, {%- endif -%}
    {% else %}
      <a href="{{ url_for(endpoint, labelname=label.name) }}">
        {{ label.name }}</a>{%- if not loop.last -%}, {%- endif -%}
    {% endif %}
  {% endfor %}
{% endmacro %}
