<div class="bond-block-content">
  {% if choices %}
    <form class="form-inline" method="POST" role="form"
          action="{{ url_for('blogs.bond_item') }}">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.list_.label(class="sr-only") }}
        {{ form.list_(class="form-control") }}
      </div>
      <div class="form-group hidden">
        {{ form.suffix.label(class="sr-only") }}
        {{ form.suffix(value=suffix) }}
      </div>
      <div class="form-group">
        {{ form.submit(class="btn btn-info") }}
      </div>
    </form>
  {% else %}
  <div class="alert alert-warning bond-alert">
    У Вас нет открытых списков, откройте список и попробуйте снова.
  </div>
  {% endif %}
</div>
