{% extends "base.html" %}
{% from "auth/_macros.html" import get_message %}
{% from "auth/_macros.html" import show_error %}
{% from "auth/_macros.html" import render_form_boolean %}
{% from "announce/_macros.html" import show_announcement %}
{% from "links/_macros.html" import pagination_widget %}
{% from "blogs/_macros.html" import show_common %}
{% from "blogs/_macros.html" import show_private %}
{% from "blogs/_macros.html" import show_entity_attributes %}
{% from "blogs/_macros.html" import show_labels %}

{% block title %}Ваш журнал{% endblock %}

{% block styles %}
  {{ super() }}
  {% assets filters='cssmin', output='generic/css/current_blogs.css',
            'css/base.css', 'css/flashed.css', 'css/content-block.css',
            'css/pagination.css', 'css/avatar.css', 'css/entity-info.css',
            'css/details.css', 'css/item-body.css', 'css/pygments.css',
            'css/blogs/current_blogs.css' %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock styles %}

{% block page_content %}
  {% if pagination.page == 1 and form %}
    <div class="modal fade bs-example-modal-lg" id="preliminary"
         tabindex="-1" role="dialog" aria-labelledby="preliminaryLabel"></div>
    <button type="button" id="toggleprelim" class="btn btn-info hidden"
            data-toggle="modal" data-target="#preliminary">
      преварительный просмотр
    </button>
  {% endif %}
  {% set messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flashed-message">
      {{ get_message(messages) }}
    </div>
  {% endif %}
  {% if view in (2, 3, 4) and a_s %}
    {% for announce in a_s %}
      {{ show_announcement(announce, loop.first) }}
    {% endfor %}
  {% endif %}
  {% if pagination.page == 1 and form %}
    <div class="content-block slidable">
      <div class="block-header">
        <h3 class="panel-title">Создайте новый топик журнала</h3>
      </div>
      <div class="block-body to-be-hidden">
        <div class="today">{{ format_date(now) }}</div>
        <div class="form-help">
          <p>
            Уважаемый {{ current_user.username }}, здесь вы можете создать новый
            топик своего журнала, для этого заполните форму ниже и нажмите
            кнопку "Сохранить". Имейте ввиду, что заголовок обязателен и не
            может быть длиннее 100 символов, а сам топик не может быть пустым.
          </p>
        </div>
        <div class="form-form">
          <form class="form" method="POST" role="form">
            {{ form.hidden_tag() }}
            <div class="form-group {% if form.errors['abstract'] %}
                                      has-error{% endif %}">
              {{ form.abstract.label(class="sr-only") }}
              {{ form.abstract(
                  class="form-control", placeholder="введите заголовок") }}
              {{ show_error(form, 'abstract') }}
            </div>
            <div class="form-group {% if form.errors['body'] %}
                                      has-error{% endif %}">
              {{ form.body.label(class="sr-only") }}
              {{ form.body(
                  class="form-control", rows="8",
                  placeholder="введите текст топика") }}
              {{ show_error(form, 'body') }}
            </div>
            {{ render_form_boolean(form, form.public, checked=True) }}
            {{ render_form_boolean(form, form.hidden, checked=False) }}
            <div class="form-group buttons">
              {{ form.submit(
                   class="btn btn-primary", title="сохранить") }}
              <button type="button"
                      title="предварительный просмотр"
                      data-url="{{ url_for('main.show_preliminary') }}"
                      data-check="{{ url_for('main.check_preliminary') }}"
                      data-tee="{{ csrf_token() }}"
                      class="btn btn-default pushprelim">
                <span class="glyphicon glyphicon-print" aria-hidden="true">
                </span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endif %}
  {% if pagination.items %}
    {% for item in pagination.items %}
      <div class="{%if (not view in(2, 3, 4) and
                       (form and loop.first and pagination.page == 1)
                       or not loop.first) or
                       (view in (2, 3, 4) and a_s) %}
                    next-block
                  {% endif %} content-block slidable">
        <div class="block-header">
          <h3 class="panel-title">
            <a class="entity-link"
               {% if item.abstract|length > 80 %}
                 title="{{ item.abstract }}"
               {% endif %}
               href="{{ url_for('blogs.show_item', slug=item.slug) }}">
              {{ item.abstract_ }}
            </a>
          </h3>
        </div>
        <div class="block-body">
          {{ show_entity_attributes(item, current_user, format_date) }}
          <div class="entity-details common-details">
            {{- show_common(item) -}}
            {%- if current_user == item.owner -%}
            {{- show_private(item) -}}{%- endif -%}
          </div>
          <div class="entity-body">
            {{ item.summary }}
          </div>
          <div class="entity-details entity-alias">
            <a href="{{ url_for('main.jump', spring=item.suffix) }}">
              подробности и комментарии</a>
          </div>
          {% if item.labels.first() %}
          <div class="entity-labels">
            <table>
              <tr>
                <td>Метки:&nbsp;</td>
                <td>
                  {% if view == 1  or view == 5 or view == 9 %}
                    {{ show_labels(item.labels, 'blogs.sort_labels') }}
                  {% elif view == 2 or view == 6 %}
                    {{ show_labels(item.labels, 'blogs.sort_heap_labels') }}
                  {% elif view == 3 or view == 7 %}
                    {{ show_labels(item.labels, 'blogs.sort_tape_labels') }}
                  {% elif view == 4 or view == 8 %}
                    {{ show_labels(
                      item.labels,
                      'blogs.sort_owner_labels', username=username) }}
                  {% endif %}
                </td>
              </tr>
            </table>
          </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  {% else %}
    <div class="alert alert-warning {% if form or a_s %}next-block{% endif %}">
      {% if view == 1 %}
        В Вашем журнале нет записей.
      {% elif view == 2 %}
        В журналах отсутствуют публичные записи.
      {% elif view == 9 %}
        В журналах отсутствуют блокированные записи.
      {% endif %}
    </div>
  {% endif %}
  {% if pagination.has_prev or pagination.has_next %}
    <div class="next-block entity-pagination text-center">
      {% if view == 1 %}
        {{ pagination_widget(pagination, 'blogs.show_journal') }}
      {% elif view == 2 %}
        {{ pagination_widget(pagination, 'blogs.show_heap') }}
      {% elif view == 3 %}
        {{ pagination_widget(pagination, 'blogs.show_tape') }}
      {% elif view == 4 %}
        {{ pagination_widget(
              pagination, 'blogs.show_owner', username=username) }}
      {% elif view == 5 %}
        {{ pagination_widget(
              pagination, 'blogs.sort_labels', labelname=labelname) }}
      {% elif view == 6 %}
        {{ pagination_widget(
              pagination, 'blogs.sort_heap_labels', labelname=labelname) }}
      {% elif view == 7 %}
        {{ pagination_widget(
              pagination, 'blogs.sort_tape_labels', labelname=labelname) }}
      {% elif view == 8 %}
        {{ pagination_widget(
              pagination, 'blogs.sort_owner_labels',
              username=username, labelname=labelname) }}
      {% elif view == 9 %}
        {{ pagination_widget(pagination, 'blogs.show_censored') }}
      {% endif %}
    </div>
  {% endif %}
{% endblock page_content %}

{% block scripts %}
  {{ super() }}
  {% assets filters='jsmin', output='generic/js/current_blogs.js',
            'js/footer.js', 'js/custom_m.js',
            'js/show_datetime.js', 'js/scroll_panel.js', 'js/adjust_frame.js',
            'js/link_propagation.js', 'js/mark_input_error.js',
            'js/mark_error.js', 'js/show_hide_block.js', 'js/adjust_twits.js',
            'js/adjust_blogimage.js', 'js/prelim.js',
            'js/show_hide_announce.js', 'js/blogs/current_blogs.js' %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock scripts %}
