{% extends "base.html" %}
{% from "auth/_macros.html" import get_message %}
{% from "links/_macros.html" import pagination_widget %}
{% from "blogs/_macros.html" import show_common %}
{% from "blogs/_macros.html" import show_private %}
{% from "blogs/_macros.html" import show_entity_attributes %}
{% from "blogs/_macros.html" import show_entity_options %}
{% from "blogs/_macros.html" import show_labels %}
{% from "commentaries/_macros.html" import show_comments_options %}
{% from "commentaries/_macros.html" import show_comments_branch %}

{% block title %}{{ item.abstract }}{% endblock %}

{% block styles %}
  {{ super() }}
  {% assets filters='cssmin', output='generic/css/show_item.css',
            'css/base.css', 'css/flashed.css', 'css/content-block.css',
            'css/pagination.css', 'css/avatar.css', 'css/entity-info.css',
            'css/details.css', 'css/item-body.css', 'css/pygments.css',
            'css/blogs/show_item.css' %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock styles %}

{% block page_content %}
  <div class="modal fade bs-example-modal-lg" id="preliminary"
       tabindex="-1" role="dialog" aria-labelledby="preliminaryLabel"></div>
  <button type="button" id="toggleprelim" class="btn btn-info hidden"
          data-toggle="modal" data-target="#preliminary">
    преварительный просмотр
  </button>
  {% set messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flashed-message">
      {{ get_message(messages) }}
    </div>
  {% endif %}
  <div id="left-panel"
       data-suffix="{{ item.suffix }}"
       data-page="{{ pagination.page }}"
       data-length="{{ pagination.items|length }}"
       data-count="{{ url_for('blogs.count_clicks') }}"
       data-upload="{{ url_for('static', filename='images/upload.gif') }}"
       data-check="{{ url_for('main.check_task') }}"
       data-tee="{{ csrf_token() }}"
       class="content-block slidable">
    <div class="block-header">
      <h3 class="panel-title">
        {{ item.abstract }}
      </h3>
    </div>
    <div class="block-body info-block">
      {{ show_entity_attributes(item, current_user, format_date) }}
    </div>
  </div>
  <div class="next-block entity-pagination entity-alias">
    <a href="{{ url_for('main.jump', spring=item.suffix) }}">
      {{ item.alias_ }}
    </a>
  </div>
  <div class="next-block entity-pagination entity-alias">
    <a href="{{ url_for('blogs.show_owner', username=item.owner.username) }}">
      журнал&nbsp;{{ item.owner.username }}
    </a>
  </div>
  <div class="next-block entity-pagination common-details">
    {{ show_common(item) -}}
    {%- if current_user == item.owner -%}{{- show_private(item) }}
    {% endif %}
  </div>
  {% if pagination.page == 1 %}
    <div class="content-block next-block entity-body-block">
      {{ item.body_html|safe }}
    </div>
    <div class="content-block next-block title-editor-block to-be-hidden">
      <form class="form">
        <table>
          <tr>
            <td class="input-width">
              <input class="form-control" type="text"
                     placeholder="введите заголовок"
                     id="abstract" value="{{ item.abstract }}">
            </td>
            <td>&nbsp;</td>
            <td>
              <input class="btn btn-danger" type="submit"
                     data-url="{{ url_for('blogs.edit_abstract') }}"
                     id="title-submit" value="Сохранить">
            </td>
          </tr>
        </table>
      </form>
    </div>
    <div class="content-block next-block text-editor-block to-be-hidden">
      <form class="form">
        <div class="form-group">
          <textarea
              id="text-editor"
              class="form-control" rows="8">{{ item.body }}</textarea>
        </div>
        <div class="form-group submit-group">
          <input class="btn btn-danger" type="submit"
                 data-url="{{ url_for('blogs.edit_text') }}"
                 id="text-submit" value="Сохранить">
          <button type="button"
                  title="предварительный просмотр"
                  data-url="{{ url_for('main.show_preliminary') }}"
                  data-check="{{ url_for('main.check_preliminary') }}"
                  class="btn btn-default pushprelim">
            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
          </button>
        </div>
      </form>
    </div>
    <div class="content-block next-block bond-block to-be-hidden text-center"></div>
    {% if item.labels.first() %}
      <div class="content-block next-block entity-labels-block">
        <table>
          <tr>
            <td>Метки:&nbsp;</td>
            {% if current_user == item.owner %}
              <td>
                {{ show_labels(item.labels, 'blogs.sort_labels') }}
              </td>
            {% else %}
              <td>
                {% if item.hidden
                      and current_user.is_authenticated
                      and current_user.is_following(item.owner) %}
                  {{ show_labels(item.labels, 'blogs.sort_tape_labels') }}
                {% else %}
                  {{ show_labels(item.labels, 'blogs.sort_heap_labels') }}
                {% endif %}
              </td>
            {% endif %}
          </tr>
        </table>
      </div>
    {% endif %}
    {% if current_user.is_authenticated %}
      <div class="next-block entity-pagination options">
        {{ show_entity_options(item, current_user, permissions) }}
      </div>
    {% endif %}
  {% endif %}
  {% if item.commentaries or item.commentable %}
    {{ show_comments_options(item, pagination.page, pagination.items|length) }}
    {% if pagination.has_prev or pagination.has_next %}
      <div class="next-block entity-pagination text-center">
        {{ pagination_widget(pagination, 'blogs.show_item', slug=item.slug) }}
      </div>
    {% endif %}
  {% endif %}
  <div class="content-block next-block new-comment-block to-be-hidden"></div>
  {% if pagination.items %}
    <div class="entity-commentaries">
      {% for comment in pagination.items %}
        {% if loop.first and loop.last %}
          {% set last = 1 %}
        {% else %}
          {% set last = 0 %}
        {% endif %}
        {{ show_comments_branch(
                item, comment, current_user, permissions, last, format_date) }}
      {% endfor %}
    </div>
  {% endif %}
  {% if pagination.has_prev or pagination.has_next %}
    <div class="next-block entity-pagination text-center">
      {{ pagination_widget(pagination, 'blogs.show_item', slug=item.slug) }}
    </div>
  {% endif %}
{% endblock page_content %}

{% block scripts %}
  {{ super() }}
  {% assets filters='jsmin', output='generic/js/show_item.js',
            'js/footer.js', 'js/custom_m.js',
            'js/count_clicks.js', 'js/check_task.js', 'js/scroll_panel.js',
            'js/show_datetime.js', 'js/show_hide_block.js',
            'js/adjust_blogimage.js', 'js/adjust_frame.js', 'js/mark_error.js',
            'js/adjust_twits.js', 'js/mark_input_error.js',
            'js/show_progress.js', 'js/prelim.js', 'js/blogs/base.js',
            'js/blogs/show_item.js' %}
  <script src="{{ ASSET_URL }}" type="text/javascript"></script>
  {% endassets %}
{% endblock scripts %}
