{% from "auth/_macros.html" import render_form_boolean %}
{% from "auth/_macros.html" import show_error %}

{% macro render_form(form, current_user, format_date, now, edit=None) %}
  <div class="content-block slidable">
    <div class="block-header"
         data-url="{{ url_for('announce.show_announcements') }}">
      <h3 class="panel-title">
        {% if edit %}
          Отредактируйте своё объявление
        {% else %}
          Создайте объявление
        {% endif %}
      </h3>
    </div>
    <div class="block-body to-be-hidden">
      <div class="today">{{ format_date(now) }}</div>
      <div class="form-help">
        <p>
          Уважаемый {{ current_user.username }}, здесь вы можете
          {% if edit %}отредактировать своё объявление{% else %}создать новое
          объявление{% endif %}, для этого {% if edit %}отредактируйте{% else %}
          заполните{% endif %} форму ниже и нажмите кнопку
          "Сохранить". Имейте ввиду, заголовок обязателен и не может быть
          длиннее 50 символов, тело объявления не может быть пустым и не
          должно превышать 512 знаков.
        </p>
      </div>
      <div class="form-form">
        <form class="form" method="POST" role="form">
          {{ form.hidden_tag() }}
          <div class="form-group
                      {% if form.errors['abstract'] %}has-error{% endif %}">
            {{ form.abstract.label(class="sr-only") }}
            {{ form.abstract(
                class="form-control", placeholder="введите заголовок") }}
            {{ show_error(form, 'abstract') }}
          </div>
          <div class="form-group
                      {% if form.errors['body'] %}has-error{% endif %}">
            <div class="length-marker">
              Осталось: <span id="length-marker">512</span>
            </div>
            {{ form.body.label(class="sr-only") }}
            {{ form.body(
                class="form-control", rows="8",
                placeholder="введите текст объявления") }}
            {{ show_error(form, 'body') }}
          </div>
          {{ render_form_boolean(form, form.public, checked=False) }}
          {{ render_form_boolean(form, form.main, checked=False) }}
          <div class="form-group buttons">
            {{ form.submit(class="btn btn-primary") }}
            <button type="button"
                    title="предварительный просмотр"
                    data-tee="{{ csrf_token() }}"
                    data-url="{{ url_for('main.show_preliminary') }}"
                    data-check="{{ url_for('main.check_preliminary') }}"
                    class="btn btn-default pushprelim">
              <span class="glyphicon glyphicon-print" aria-hidden="true">
              </span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro show_announcement(announce, loop, entity) %}
  <div class="announcement-block
              {% if not loop %}next-block{% endif %}">
    <div class="block-header">
      <h3 class="panel-title">Объявление: {{ announce.abstract }}</h3>
    </div>
    <div class="block-body to-be-hidden">
      <div class="to-be-hidden"
           data-who="{{ announce.owner.username }}"
           data-suffix="{{ announce.suffix }}"></div>{# data-* is not used #}
      <div class="announcement-body
                  {% if entity == 'item' %}
                    entity-body-block
                  {% elif entity == 'list_' %}
                    list-item-body
                  {% endif %}">
        {{ announce.body_html|safe }}
      </div>
    </div>
  </div>
{% endmacro %}
