{% extends "base.html" %}
{% from "announce/_macros.html" import render_form %}
{% from "auth/_macros.html" import get_message %}
{% from "links/_macros.html" import pagination_widget %}

{% block title %}Ваши объявления{% endblock %}

{% block styles %}
  {{ super() }}
  {% assets filters='cssmin', output='generic/css/announcements.css',
            'css/base.css', 'css/flashed.css', 'css/content-block.css',
            'css/pagination.css', 'css/avatar.css', 'css/entity-info.css',
            'css/details.css', 'css/item-body.css', 'css/pygments.css',
            'css/blogs/current_blogs.css', 'css/announce/announcements.css' %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock styles %}

{% block page_content %}
  <div class="modal fade bs-example-modal-lg" id="preliminary"
       tabindex="-1" role="dialog" aria-labelledby="preliminaryLabel"></div>
  <button type="button" id="toggleprelim" class="btn btn-info hidden"
          data-toggle="modal" data-target="#preliminary">
    преварительный просмотр
  </button>
  {% set messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flashed-message">
      {{ get_message(messages) }}
    </div>
  {% endif %}
  <div id="left-panel" data-tee="{{ csrf_token() }}"></div>
  {% if pagination.page == 1 %}
    {{ render_form(form, current_user, format_date, now) }}
  {% endif %}
  {% if pagination.items %}
    {% for item in pagination.items %}
      {% if loop.first and loop.last %}
        {% set last = 1 %}
      {% else %}
        {% set last = 0 %}
      {% endif %}
      <div class="content-block
                  {% if pagination.page == 1 %}next-block
                  {% elif not loop.first %}next-block{% endif %}">
        <div class="block-header">
          <h3 class="panel-title">
            <a href="{{ url_for(
                'announce.edit_announcement', suffix=item.suffix) }}">
              {{ item.abstract }}</a>
          </h3>
        </div>
        <div class="block-body">
          <div class="entity-details entity-alias">
            <span class="date-info date-field">
              {{ format_date(item.published) }}
            </span>
          </div>
          <div class="entity-details common-details">
            <span class="label {% if item.public %}label-info{% else %}
                         label-danger{%endif %} white-space">public</span><span
              class="label {% if item.main %}label-info{% else %}
                     label-danger{% endif %}">main</span>
          </div>
          <div class="entity-body announcement to-be-hidden">
            {{ item.body_html|safe }}
          </div>
          <div class="announce-options">
            <button type="button"
                    title="раскрыть"
                    class="btn btn-default btn-xs show-this">
              <span class="glyphicon glyphicon-chevron-down"
                    aria-hidden="true"></span>
            </button>
            <button type="button"
                    title="удалить"
                    class="btn btn-default btn-xs trash-button">
              <span class="glyphicon glyphicon-trash"
                    aria-hidden="true"></span>
            </button>
            <button type="button"
                    title="удалить безвозвратно"
                    data-last="{{ last }}"
                    data-suffix="{{ item.suffix }}"
                    data-page="{{ pagination.page }}"
                    data-url="{{ url_for('announce.remove') }}"
                    data-check="{{ url_for('main.check_task') }}"
                    data-upload="{{ url_for(
                        'static', filename='images/upload.gif') }}"
                    class="btn btn-danger btn-xs remove-button to-be-hidden">
              <span class="glyphicon glyphicon-remove"
                    aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <div class="alert alert-warning next-block">
      У Вас нет объявлений. Можно создать объявление под спойлером выше.
    </div>
  {% endif %}
  {% if pagination.has_prev or pagination.has_next %}
    <div class="next-block entity-pagination text-center">
      {{ pagination_widget(pagination, 'announce.show_announcements') }}
    </div>
  {% endif %}
{% endblock page_content %}

{% block scripts %}
  {{ super() }}
  {% assets filters='jsmin', output='generic/js/announcements.js',
            'js/footer.js', 'js/custom_m.js', 'js/show_datetime.js',
            'js/check_task.js', 'js/show_progress.js', 'js/remove_target.js',
            'js/scroll_panel.js', 'js/adjust_frame.js', 'js/adjust_twits.js',
            'js/mark_input_error.js', 'js/adjust_blogimage.js', 'js/prelim.js',
            'js/show_hide_block.js', 'js/announce/announcements.js' %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock scripts %}
