{% extends "base.html" %}
{% from "auth/_macros.html" import get_message %}
{% from "announce/_macros.html" import render_form %}

{% block title %}Редактор объявлений{% endblock %}

{% block styles %}
  {{ super() }}
  {% assets filters='cssmin', output='generic/css/announce_editor.css',
            'css/base.css', 'css/flashed.css', 'css/content-block.css',
            'css/item-body.css', 'css/pygments.css',
            'css/blogs/current_blogs.css', 'css/announce/announcements.css' %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock styles %}

{% block page_content %}
  <div class="modal fade bs-example-modal-lg" id="preliminary"
       tabindex="-1" role="dialog" aria-labelledby="preliminaryLabel"></div>
  <button type="button" id="toggleprelim" class="btn btn-info hidden"
          data-toggle="modal" data-target="#preliminary">
    преварительный просмотр
  </button>
  {% set messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flashed-message">
      {{ get_message(messages) }}
    </div>
  {% endif %}
  {{ render_form(form, current_user, format_date, now, edit=True) }}
{% endblock page_content %}

{% block scripts %}
  {{ super() }}
  {% assets filters='jsmin', output='generic/js/announce_editor.js',
            'js/footer.js', 'js/custom_m.js', 'js/show_datetime.js',
            'js/mark_input_error.js', 'js/adjust_blogimage.js',
            'js/adjust_frame.js', 'js/adjust_twits.js', 'js/prelim.js',
            'js/announce/editor.js' %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock scripts %}
