#left-panel {
  width: 60%;
  float: left;
  padding-right: 4px;
  margin-bottom: 6px;
}

#right-panel {
  margin-left: 60%;
  margin-bottom: 6px;
  padding-left: 4px;
}

.albums-options {
  margin: 0 0 6px 0;
  border-radius: 3px;
  background-color: #f3f2e7;
  padding: 4px 0;
}

.block-body-form {
  margin: 0 0 6px 0;
  padding: 2px 0 6px 0;
}

.form-group {
  margin: 6px 0 0;
}

.form-label {
  width: 9%;
  float: left;
  padding-top: 7px;
}

.checkbox {
  margin: 0;
}

.checkbox label label {
  padding-left: 0;
}

.form-input {
  margin-left: 10%;
}

.block-body .alert {
  margin-bottom: 0;
}

.album-header-panel {
  padding: 6px 0 6px 6px;
  width: 80%;
  cursor: pointer;
}

.clicked-item {
  background: #e6ebff;
}

.items-table {
  margin: 0;
  width: 100%;
  border-collapse: collapse;
  text-shadow: 0 0 3px #d9dcec;
}

.items-table td {
  padding: 4px;
}

.statistic-table {
  margin: 0;
  width: 100%;
  border-collapse: collapse;
  font-style: italic;
  text-shadow: 0 0 3px #d9dcec;
}

.statistic-table td {
  padding: 8px 2px 2px;
}

.bordered {
  border-bottom: 1px dotted #dddddd;
}

.input-width {
  width: 90%;
}

.link-form-table {
  margin-bottom: 8px;
}
