.block-body {
  margin: 8px 12px 12px;
}

.friends-table {
  width: 100%;
  border-collapse: collapse;
}

.friends-table th {
  text-align: center;
  border-bottom: 2px solid #dddddd;
  padding: 8px 4px;
}

.friends-table td {
  padding: 8px 4px 2px;
  text-align: center;
}

.new-input-message {
  background-color: #fef3d6;
}

.new-output-message {
  background-color: #dcdffe;
}

.bordered {
  border-bottom: 1px dashed #dddddd;
}

.list-alert {
  margin-bottom: 0;
}
