.private-message {
  padding: 8px 10px;
}

.private-message-author-avatar {
  width: 71px;
  height: 71px;
  float: left;
}

.private-message-attributes {
  margin-left: 80px;
}

.bottom-line {
  height: 2px;
}

.item-body {
  border: 1px solid white;
}

.form-group {
  margin-bottom: 6px;
}

.submit-group {
  margin-bottom: 0;
}

.private-message .alert {
  margin: 2px 0;
}

#private-message-editor, #being-edited {
  text-align: justify;
}

.editor-body {
  margin: 0 0 6px;
}
