{%- macro show_private(list_) -%}
  <span class="label white-space
              {% if list_.public %}
              label-info
              {% else %}
              label-success
              {% endif %}">
    {%- if list_.public -%}public{%- else -%}private{%- endif -%}
  </span>{%- if list_.public and list_.hidden -%}<span
  class="label label-warning white-space"><span
  class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></span>
  {%- endif -%}<span
  class="label
        {% if list_.open %}
        label-info
        {% else %}
        label-warning
        {% endif %} white-space"><span
  class="glyphicon {% if list_.open %}glyphicon-paperclip{% else %}glyphicon-briefcase{% endif %}"
  aria-hidden="true"></span></span>
{%- endmacro -%}

{% macro show_section(section, dots=False, last=False, first=False) %}
  {% if dots %}
    <p class="list-item-abstract">&hellip;</p>
  {% else %}
    <p class="list-item-abstract
             {% if last %}last-item{% endif %}
             {% if first %}first-item{% endif %}">
      {{ section.number }}.&nbsp;{{ section.item.abstract }}{#{%- if last -%}
      .{%- else -%};{%- endif -%}#}
    </p>
  {% endif %}
{% endmacro %}

{% macro private_options(list_, current_user, permissions) %}
  {% if current_user.can(permissions.CREATE_ENTITY) %}
    <button type="button" title="редактировать метки"
            data-url="{{ url_for('labels.edit_labels', suffix=list_.suffix) }}"
            class="btn btn-primary btn-sm labels-button">
      <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
    </button>
    <button type="button" title="редактировать заголовок"
            class="btn btn-danger btn-sm edit-title">
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    </button>
    <button type="button" title="редактировать описание"
            class="btn
                  {% if list_.preamble %}btn-danger{% else %}btn-info{% endif %}
                  btn-sm edit-preamble">
      <span class="glyphicon
                   {% if list_.preamble %}
                   glyphicon-edit{% else %}glyphicon-pencil{% endif %}"
            aria-hidden="true"></span>
    </button>
    <button type="button" title="дополнить"
            class="btn btn-info btn-sm add-item">
      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </button>
  {% endif %}
  {% if not list_.censored and list_.sections.first() %}
    <button type="button"
            title="{% if list_.public %}
                      убрать в приват{% else %}опубликовать{% endif %}"
            data-url="{{ url_for('blogs.change_public') }}"
            class="btn {% if list_.public %}
                          btn-success{% else %}btn-info{% endif %}
                   btn-sm public-button">
      <span class="glyphicon {% if list_.public %}
                   glyphicon-share-alt{% else %}glyphicon-share{% endif %}"
            aria-hidden="true"></span>
    </button>
  {% endif %}
  {% if list_.public %}
    <button type="button"
            title="{% if list_.hidden %}показать в куче
                   {% else %}спрятать в куче{% endif %}"
            data-url="{{ url_for('blogs.change_hidden') }}"
            class="btn {% if list_.hidden %}btn-info
                       {% else %}btn-warning{% endif %} btn-sm heap-button">
      <span class="glyphicon
                  {% if list_.hidden %}glyphicon-eye-open
                  {% else %}glyphicon-eye-close{% endif %}" aria-hidden="true">
      </span>
    </button>
  {% endif %}
  <button type="button"
          title="{% if list_.commentable %}закрыть комментарии
                 {% else %}открыть комментарии{% endif %}"
          data-url="{{ url_for('blogs.change_comments') }}"
          class="btn {%if list_.commentable %}btn-warning
                     {% else %}btn-info{% endif %}
                 btn-sm commentary-state-button">
    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
  </button>
  {% if current_user.can(permissions.CREATE_ENTITY) %}
    <button type="button"
            title="{% if list_.open %}закрыть
                   {% else %}открыть{% endif %}"
            data-url="{{ url_for('lists.change_status') }}"
            class="btn {% if list_.open %}btn-warning
                       {% else %}btn-info{% endif %}
             btn-sm list-status-button">
      <span class="glyphicon {% if list_.open %}glyphicon-briefcase
                             {% else %}glyphicon-paperclip{% endif %}"
            aria-hidden="true"></span>
    </button>
  {% endif %}
  <button type="button" title="удалить"
          class="btn btn-default btn-sm trash-button">
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
  </button>
  <button type="button" title="удалить безвозвратно"
          data-url="{{ url_for('lists.remove_list') }}"
          class="btn btn-danger btn-sm remove-button to-be-hidden">
    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
  </button>
{% endmacro %}

{% macro show_entity_options(list_, current_user, permissions) %}
  {% from "blogs/_macros.html" import society_options %}
  <button type="button" title="обновить"
          data-update="{{ url_for('lists.show_list', slug=list_.slug) }}"
          class="btn btn-default btn-sm update-button">
    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
  </button>
  {% if current_user == list_.owner %}
    {{ private_options(list_, current_user, permissions) }}
  {% endif %}
  {% if current_user != list_.owner and
        current_user.can(permissions.READ_JOURNAL) %}
    {{ society_options(list_, current_user, permissions) }}
  {% endif %}
{% endmacro %}

{% macro show_item(
      section, current_user, main=True, options=True, click=False) %}
  {#<!--
    This macro is used by lists/show_list.html, lists/edit_item.html,
                          lists/up_item.html, lists/down_item.html,
                          labels/edit.html
    main is True on the lists/show_list.html and False on the
    lists/edit_item.html or labels/edit.html;
    options is True on the lists/show_list.html when the current user is the
    list owner;
    click is True only on lists/up_item.html or lists/down_item.html templates.
    -->#}
  <div class="content-block
              next-block list-item-block {% if click %}clicked-item{% endif %}">
    <div class="block-header">
      <h3 class="panel-title">
        {% if (current_user == section.list_.owner
               and section.item.slug and main)
              or (section.item.slug and section.item.public and main) %}
          {{ section.number }}.&nbsp;<a class="entity-link"
                              rel="nofollow" target="_blank"
                              href="{{ url_for(
                                'blogs.show_item',
                                slug=section.item.slug) }}">
          {{- section.item.abstract }}</a>
        {% else %}
          {{ section.number }}.&nbsp;{{ section.item.abstract }}
        {% endif %}
      </h3>
    </div>
    <div class="list-item-body to-be-hidden">
      {% if options %}
        <div class="item-options-block text-center">
          {% if not section.item.slug %}
            <button type="button"
                    title="редактировать"
                    data-url="{{ url_for(
                        'lists.edit_item',
                        suffix=section.list_.suffix,
                        item=section.number) }}"
                    class="btn btn-danger btn-xs edit-item">
              <span class="glyphicon glyphicon-edit"
                    aria-hidden="true"></span>
            </button>
          {% endif %}
          {% if section.number > 1 %}
            <button type="button"
                    title="переместить вверх"
                    data-s="{{ section.id }}"
                    data-url="{{ url_for('lists.up_item') }}"
                    class="btn btn-danger btn-xs up-item">
              <span class="glyphicon glyphicon-arrow-up"
                    aria-hidden="true"></span>
            </button>
          {% endif %}
          {% if section.number < section.list_.sections.count() %}
            <button type="button"
                    title="переместить вниз"
                    data-s="{{ section.id }}"
                    data-url="{{ url_for('lists.down_item') }}"
                    class="btn btn-danger btn-xs down-item">
              <span class="glyphicon glyphicon-arrow-down"
                    aria-hidden="true"></span>
            </button>
          {% endif %}
          <button type="button"
                  title="удалить"
                  class="btn btn-xs btn-default item-trash-button">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </button>
          <button type="button"
                  title="удалить безвозвратно"
                  data-s="{{ section.id }}"
                  data-url="{{ url_for('lists.delete_item') }}"
                  class="btn btn-danger btn-xs delete-item to-be-hidden">
            <span class="glyphicon glyphicon-remove"
                  aria-hidden="true"></span>
          </button>
        </div>
      {% endif %}
      <div class="item-body-block">
        {{ section.item.body_html|safe }}
      </div>
      <div class="item-slider">
        <button type="button"
                class="btn btn-default btn-xs btn-block slide-button">
          свернуть
        </button>
      </div>
    </div>
  </div>
{% endmacro %}
