{% extends "base.html" %}
{% from "auth/_macros.html" import get_message %}
{% from "auth/_macros.html" import show_error %}
{% from "announce/_macros.html" import show_announcement %}
{% from "links/_macros.html" import pagination_widget %}
{% from "blogs/_macros.html" import show_entity_attributes %}
{% from "blogs/_macros.html" import show_common %}
{% from "blogs/_macros.html" import show_labels %}
{% from "lists/_macros.html" import show_private %}
{% from "lists/_macros.html" import show_section %}

{% block title %}Списки{% endblock %}

{% block styles %}
  {{ super() }}
  {% assets filters='cssmin', output='generic/css/current_lists.css',
            'css/base.css', 'css/flashed.css', 'css/content-block.css',
            'css/pagination.css', 'css/avatar.css', 'css/entity-info.css',
            'css/details.css', 'css/item-body.css',
            'css/blogs/current_blogs.css' %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock styles %}

{% block page_content %}
  {% set messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flashed-message">
      {{ get_message(messages) }}
    </div>
  {% endif %}
  {% if view in (2, 3, 4) and a_s %}
    {% for announce in a_s %}
      {{ show_announcement(announce, loop.first) }}
    {% endfor %}
  {% endif %}
  {% if pagination.page == 1 and form %}
    <div class="content-block slidable">
      <div class="block-header">
        <h3 class="panel-title">Создайте новый список</h3>
      </div>
      <div class="block-body to-be-hidden">
        <div class="today">{{ format_date(now) }}</div>
        <div class="form-help">
          <p>
            Уважаемый {{ current_user.username }}, здесь вы можете создать новый
            список, для этого заполните форму ниже и нажмите кнопку "Создать".
            Имейте ввиду, что заголовок обязателен и не может быть длиннее 64-х
            символов. Новый список будет приватным, позже его можно будет
            наполнить содержимым и опубликовать.
          </p>
        </div>
        <div class="form-form">
          <form class="form" method="POST" role="form">
            {{ form.hidden_tag() }}
            <div class="form-group {% if form.errors %}has-error{% endif %}">
              <table class="form-table-width">
                <tr>
                  <td class="input-width">
                    {{ form.title.label(class="sr-only") }}
                    {{ form.title(
                        class="form-control",
                        placeholder="введите заголовок списка") }}
                  </td>
                  <td>&nbsp;</td>
                  <td>{{ form.submit(class="btn btn-primary") }}</td>
                </tr>
                <tr>
                  <td>{{ show_error(form, 'title') }}</td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
            </div>
        </form>
        </div>
      </div>
    </div>
  {% endif %}
  {% if pagination.items %}
    {% for list_ in pagination.items %}
      <div class="{%if (not view in (2, 3, 4) and
                       (form and loop.first and pagination.page == 1)
                       or not loop.first) or
                       (view in (2, 3, 4) and a_s) %}
                    next-block
                  {% endif %} content-block slidable">
        <div class="block-header">
          <h3 class="panel-title">
            <a class="entity-link"
               href="{{ url_for('lists.show_list', slug=list_.slug) }}">
              {{ list_.title }}
            </a>
          </h3>
        </div>
        <div class="block-body">
          {{ show_entity_attributes(list_, current_user, format_date) }}
          <div class="entity-details common-details">
            {{- show_common(list_) -}}
            {%- if current_user == list_.owner -%}
            {{- show_private(list_) -}}{%- endif -%}
          </div>
          <div class="entity-body">
            {% if list_.preamble %}
              <p class="preamble">{{ list_.preamble }}</p>
            {% endif %}
            {% if list_.sections.first() %}
              {% for section in list_.sections|sort(attribute='number') %}
                {% if list_.sections.count() <= 4 %}
                  {% if loop.index == 1 and not loop.last %}
                    {{ show_section(section, first=True) }}
                  {% elif loop.index == 1 and loop.last %}
                    {{ show_section(section, last=True, first=True) }}
                  {% elif loop.index > 1 and not loop.last %}
                    {{ show_section(section) }}
                  {% elif loop.last %}
                    {{ show_section(section, last=True) }}
                  {% endif %}
                {% else %}
                  {% if loop.index == 1 %}
                    {{ show_section(section, first=True) }}
                  {% elif loop.index <= 2 %}
                    {{ show_section(section) }}
                  {% elif loop.index == 3 %}
                    {{ show_section(section, dots=True) }}
                  {% elif loop.last %}
                    {{ show_section(section, last=True) }}
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% else %}
              <div class="alert alert-warning list-alert">
                Пустой список.
              </div>
            {% endif %}
          </div>
          <div class="entity-details entity-alias">
            <a href="{{ url_for('main.jump', spring=list_.suffix) }}">
              подробности и комметарии
            </a>
          </div>
          {% if list_.labels.first() %}
            <div class="entity-labels">
              <table>
                <tr>
                  <td>Метки:&nbsp;</td>
                  <td>
                    {% if view == 1 or view == 5 or view == 9 %}
                      {{ show_labels(list_.labels, 'lists.sort_labels') }}
                    {% elif view == 2 or view == 6 %}
                      {{ show_labels(list_.labels, 'lists.sort_heap_labels') }}
                    {% elif view == 3 or view == 7 %}
                      {{ show_labels(list_.labels, 'lists.sort_tape_labels') }}
                    {% elif view == 4 or view == 8 %}
                      {{ show_labels(
                            list_.labels,
                            'lists.sort_owner_labels', username=username) }}
                    {% endif %}
                  </td>
                </tr>
              </table>
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  {% else %}
    <div class="alert alert-warning {% if form or a_s %}next-block{% endif %}">
      {% if view == 1 %}
        У Вас нет списков.
      {% elif view == 2 %}
        Публичные списки не найдены.
      {% elif view == 9 %}
        Заблокированные списки отсутствуют.
      {% endif %}
    </div>
  {% endif %}
  {% if pagination.has_prev or pagination.has_next %}
    <div class="next-block entity-pagination text-center">
      {% if view == 1 %}
        {{ pagination_widget(pagination, 'lists.show_lists') }}
      {% elif view == 2 %}
        {{ pagination_widget(pagination, 'lists.show_heap') }}
      {% elif view == 3 %}
        {{ pagination_widget(pagination, 'lists.show_tape') }}
      {% elif view == 4 %}
        {{ pagination_widget(
              pagination, 'lists.show_owner', username=username) }}
      {% elif view == 5 %}
        {{ pagination_widget(
              pagination, 'lists.sort_labels', labelname=labelname) }}
      {% elif view == 6 %}
        {{ pagination_widget(
              pagination, 'lists.sort_heap_labels', labelname=labelname) }}
      {% elif view == 7 %}
        {{ pagination_widget(
              pagination, 'lists.sort_tape_labels', labelname=labelname) }}
      {% elif view == 8 %}
        {{ pagination_widget(
              pagination, 'lists.sort_owner_labels',
              username=username, labelname=labelname) }}
      {% elif view == 9 %}
        {{ pagination_widget(pagination, 'lists.show_censored') }}
      {% endif %}
    </div>
  {% endif %}
{% endblock page_content %}

{% block scripts %}
  {{ super() }}
  {% assets filters='jsmin', output='generic/js/current_lists.js',
            'js/footer.js', 'js/custom_m.js',
            'js/show_datetime.js', 'js/scroll_panel.js', 'js/adjust_frame.js',
            'js/adjust_blogimage.js', 'js/adjust_twits.js',
            'js/link_propagation.js', 'js/mark_input_error.js',
            'js/show_hide_block.js', 'js/show_hide_announce.js',
            'js/lists/current_lists.js' %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock scripts %}
