{% extends "base.html" %}
{% from "auth/_macros.html" import get_message %}
{% from "auth/_macros.html" import show_error %}
{% from "blogs/_macros.html" import show_entity_attributes %}
{% from "lists/_macros.html" import show_item %}

{% block title %}Редактор: {{ list_.title }}{% endblock %}

{% block styles %}
  {{ super() }}
  {% assets filters='cssmin', output='generic/css/edit_item.css',
            'css/base.css', 'css/flashed.css', 'css/content-block.css',
            'css/avatar.css', 'css/entity-info.css', 'css/item-body.css',
            'css/pygments.css', 'css/blogs/show_item.css' %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock styles %}

{% block page_content %}
  <div class="modal fade bs-example-modal-lg" id="preliminary"
       tabindex="-1" role="dialog" aria-labelledby="preliminaryLabel"></div>
  <button type="button" id="toggleprelim" class="btn btn-info hidden"
          data-toggle="modal" data-target="#preliminary">
    преварительный просмотр
  </button>
  {% set messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flashed-message">
      {{ get_message(messages) }}
    </div>
  {% endif %}
  <div id="left-panel"
       class="content-block slidable"
       data-tee="{{ csrf_token() }}">
    <div class="block-header">
      <h3 class="panel-title">{{ list_.title }}</h3>
    </div>
    <div class="block-body info-block">
      {{ show_entity_attributes(list_, current_user, format_date) }}
    </div>
  </div>
  {% if list_.preamble %}
    <div class="content-block next-block preamble-block">
      {{ list_.preamble }}
    </div>
  {% endif %}
  <div id="items-block">
    {% for se in list_.sections|sort(attribute='number') %}
      {% if se.number != section.number %}
        {{ show_item(se, current_user, main=False, options=False) }}
      {% else %}
        <div class="content-block next-block item-editor-block">
          <form class="form" method="POST" role="form">
            {{ form.hidden_tag() }}
            <div class="form-group {% if form.errors['abstract'] %}
                                      has-error{% endif %}">
              {{ form.abstract.label(class="sr-only") }}
              {{ form.abstract(
                  class="form-control", placeholder="введите заголовок") }}
              {{ show_error(form, 'abstract') }}
            </div>
            <div class="form-group {% if form.errors['body'] %}
                                      has-error{% endif %}">
              {{ form.body.label(class="sr-only") }}
              {{ form.body(
                  class="form-control", rows="8",
                  placeholder="введите текст топика") }}
              {{ show_error(form, 'body') }}
            </div>
            <div class="form-group submit-group">
              {{ form.submit(class="btn btn-danger hidden") }}
              <button type="button" class="btn btn-danger save-button">
                Сохранить
              </button>
              <button type="button"
                      data-url="{{ url_for(
                          'lists.show_list', slug=list_.slug) }}"
                      class="btn btn-default cancel-button">
                Отменить
              </button>
              <button type="button"
                      title="предварительный просмотр"
                      data-url="{{ url_for('main.show_preliminary') }}"
                      data-check="{{ url_for('main.check_preliminary') }}"
                      class="btn btn-default pushprelim">
                <span class="glyphicon glyphicon-print" aria-hidden="true">
                </span>
              </button>
            </div>
          </form>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock page_content %}

{% block scripts %}
  {{ super() }}
  {% assets filters='jsmin', output='generic/js/edit_item.js',
            'js/footer.js', 'js/custom_m.js',
            'js/show_datetime.js', 'js/scroll_panel.js', 'js/adjust_frame.js',
            'js/show_hide_block.js', 'js/show_list_item.js',
            'js/slide_list_item.js', 'js/mark_input_error.js',
            'js/mark_error.js', 'js/adjust_blogimage.js', 'js/adjust_twits.js',
            'js/prelim.js', 'js/lists/edit_item.js' %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock scripts %}
