{% extends "base.html" %}

{% from "auth/_macros.html" import get_message %}
{% from "blogs/_macros.html" import show_entity_attributes %}
{% from "blogs/_macros.html" import show_common %}
{% from "blogs/_macros.html" import show_labels %}
{% from "commentaries/_macros.html" import show_comments_options %}
{% from "commentaries/_macros.html" import show_comments_branch %}
{% from "links/_macros.html" import pagination_widget %}
{% from "lists/_macros.html" import show_private %}
{% from "lists/_macros.html" import show_entity_options %}
{% from "lists/_macros.html" import show_item %}

{% block title %}{{ list_.title }}{% endblock %}

{% block styles %}
  {{ super() }}
  {% assets filters='cssmin', output='generic/css/show_list.css',
            'css/base.css', 'css/flashed.css', 'css/content-block.css',
            'css/pagination.css', 'css/avatar.css', 'css/entity-info.css',
            'css/details.css', 'css/item-body.css', 'css/pygments.css',
            'css/blogs/show_item.css' %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock styles %}

{% block page_content %}
  <div class="modal fade bs-example-modal-lg" id="preliminary"
       tabindex="-1" role="dialog" aria-labelledby="preliminaryLabel"></div>
  <button type="button" id="toggleprelim" class="btn btn-info hidden"
          data-toggle="modal" data-target="#preliminary">
    преварительный просмотр
  </button>
  {% set messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flashed-message">
      {{ get_message(messages) }}
    </div>
  {% endif %}
  <div id="left-panel"
       data-count="{{ url_for('lists.count_clicks') }}"
       data-tee="{{ csrf_token() }}"
       data-suffix="{{ list_.suffix }}"
       data-upload="{{ url_for('static', filename='images/upload.gif') }}"
       data-check="{{ url_for('main.check_task') }}"
       data-length="{{ pagination.items|length }}"
       data-page="{{ pagination.page }}"
       class="content-block slidable">
    <div class="block-header">
      <h3 class="panel-title">{{ list_.title }}</h3>
    </div>
    <div class="block-body info-block">
      {{ show_entity_attributes(list_, current_user, format_date) }}
    </div>
  </div>
  <div class="next-block entity-pagination entity-alias">
    <a href="{{ url_for('main.jump', spring=list_.suffix) }}">
      {{ list_.alias_ }}
    </a>
  </div>
  <div class="next-block entity-pagination entity-alias">
    <a href="{{ url_for('lists.show_owner', username=list_.owner.username) }}">
      списки&nbsp;{{ list_.owner.username }}
    </a>
  </div>
  <div class="next-block entity-pagination common-details">
    {{ show_common(list_) -}}
    {%- if current_user == list_.owner -%}{{- show_private(list_) }}
    {% endif %}
  </div>
  {% if pagination.page == 1 %}
    {% if list_.preamble %}
      <div class="content-block next-block preamble-block">
        {{ list_.preamble }}
      </div>
    {% endif %}
    {% if list_.sections.first() %}
      <div id="items-block">
      {% for section in list_.sections|sort(attribute='number') %}
        {% if current_user == list_.owner %}
          {{ show_item(section, current_user) }}
        {% else %}
          {{ show_item(section, current_user, options=False) }}
        {% endif %}
      {% endfor %}
      </div>
    {% else %}
      <div class="alert alert-warning list-alert next-block">
        Пустой список.
      </div>
    {% endif %}
    <div class="content-block next-block title-editor-block to-be-hidden">
      <form class="form">
        <table>
          <tr>
            <td class="input-width">
              <input class="form-control" type="text"
                     id="list-title" value="{{ list_.title }}">
            </td>
            <td>&nbsp;</td>
            <td>
              <input class="btn btn-danger" type="submit"
                     data-url="{{ url_for('lists.edit_title') }}"
                     id="title-submit" value="Сохранить">
            </td>
          </tr>
        </table>
      </form>
    </div>
    <div class="content-block next-block text-editor-block to-be-hidden">
      <div class="length-marker">
        Осталось: <span id="length-marker">{%- if not list_.preamble -%}384
        {%- else -%}{{- 384 - list_.preamble|length -}}{%- endif -%}</span>
      </div>
      <form class="form">
        <div class="form-group">
          <textarea id="preamble-editor"
                    placeholder="введите текст"
                    class="form-control" rows="5">
            {%- if list_.preamble -%}{{- list_.preamble -}}{%- endif -%}
          </textarea>
        </div>
        <div class="form-group submit-group">
          <input
              class="btn {% if list_.preamble %}btn-danger
                         {% else %}btn-info{% endif %} btn-block"
              type="submit"
              data-url="{{ url_for('lists.edit_preamble') }}"
              id="preamble-submit" value="Сохранить">
        </div>
      </form>
    </div>
    <div class="content-block next-block item-editor-block to-be-hidden">
      <form class="form">
        <div class="form-group">
          <input class="form-control" type="text"
                 id="item-abstract" placeholder="введите заголовок">
        </div>
        <div class="form-group">
          <textarea id="item-body-editor"
                    placeholder="введите текст топика"
                    class="form-control" rows="8"></textarea>
        </div>
        <div class="form-group submit-group">
          <input class="btn btn-info" type="submit"
                 data-url="{{ url_for('lists.add_item') }}"
                 id="item-submit" value="Сохранить в список">
          <button type="button"
                  title="предварительный просмотр"
                  data-url="{{ url_for('main.show_preliminary') }}"
                  data-check="{{ url_for('main.check_preliminary') }}"
                  class="btn btn-default pushprelim">
            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
          </button>
        </div>
      </form>
    </div>
    {% if list_.labels.first() %}
      <div class="content-block next-block entity-labels-block">
        <table>
          <tr>
            <td>Метки:&nbsp;</td>
            {% if current_user == list_.owner %}
              <td>
                {{ show_labels(list_.labels, 'lists.sort_labels') }}
              </td>
            {% else %}
              <td>
                {% if list_.hidden
                      and current_user.is_authenticated
                      and current_user.is_following(list_.owner) %}
                  {{ show_labels(list_.labels, 'lists.sort_tape_labels') }}
                {% else %}
                  {{ show_labels(list_.labels, 'lists.sort_heap_labels') }}
                {% endif %}
              </td>
            {% endif %}
          </tr>
        </table>
      </div>
    {% endif %}
    {% if current_user.is_authenticated %}
      <div class="next-block entity-pagination options">
        {{ show_entity_options(list_, current_user, permissions) }}
      </div>
    {% endif %}
  {% endif %}
  {% if list_.commentaries or list_.commentable %}
    {{ show_comments_options(list_, pagination.page, pagination.items|length) }}
    {% if pagination.has_prev or pagination.has_next %}
      <div class="next-block entity-pagination text-center">
        {{ pagination_widget(pagination, 'lists.show_list', slug=list_.slug) }}
      </div>
    {% endif %}
  {% endif %}
  <div class="content-block next-block new-comment-block to-be-hidden"></div>
  {% if pagination.items %}
    <div class="entity-commentaries">
      {% for comment in pagination.items %}
        {% if loop.first and loop.last %}
          {% set last = 1 %}
        {% else %}
          {% set last = 0 %}
        {% endif %}
        {{ show_comments_branch(
                list_, comment, current_user, permissions, last, format_date) }}
      {% endfor %}
    </div>
  {% endif %}
  {% if pagination.has_prev or pagination.has_next %}
    <div class="next-block entity-pagination text-center">
      {{ pagination_widget(pagination, 'lists.show_list', slug=list_.slug) }}
    </div>
  {% endif %}
{% endblock page_content %}

{% block scripts %}
  {{ super() }}
  {% assets filters='jsmin', output='generic/js/show_list.js',
            'js/footer.js', 'js/custom_m.js', 'js/count_clicks.js',
            'js/check_task.js', 'js/scroll_panel.js',
            'js/show_datetime.js', 'js/adjust_frame.js',
            'js/show_list_item.js',
            'js/link_propagation.js', 'js/slide_list_item.js',
            'js/show_hide_block.js', 'js/mark_input_error.js',
            'js/mark_error.js', 'js/adjust_blogimage.js',
            'js/show_progress.js', 'js/adjust_twits.js', 'js/prelim.js',
            'js/lists/base.js', 'js/blogs/base.js', 'js/lists/show_list.js' %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock scripts %}
