.slidable .block-header {
  cursor: pointer;
}

.block-body {
  margin-bottom: 12px;
  border: 1px solid #ffffff;
}

.form-group {
  margin: 0 0 6px 0;
}

.form-label {
  width: 40%;
  float: left;
  padding-top: 7px;
}

.form-input {
  margin-left: 41%;
}

.society-table {
  width: 100%;
  border-collapse: collapse;
}

.society-table th {
  border-bottom: 2px solid #dddddd;
  padding: 8px 4px;
}

.date-field {
  font-style: italic;
  text-shadow: 0 0 3px #d9dcec;
}

.username-field {
  text-shadow: 0 0 3px #d9dcec;
}

.society-table td {
  padding: 8px 4px 4px;
}

.bordered {
  border-bottom: 1px dashed #dddddd;
}

.find-username, .find-picture {
  padding: 12px 50px;
}

.owner-name {
  margin: 0;
}

.picture-info {
  font-style: italic;
  text-shadow: 0 0 3px #d9dcec;
}

.picture-table {
  width: 100%;
  border-collapse: collapse;
}

.picture-table td {
  padding: 4px;
}

.options-row button {
  margin: 4px 0;
}

.options-button-block {
  width: 6%;
  float: left;
}

.picture-itself {
  margin-left: 7%;
}
