<!DOCTYPE html>
<html lang="ru">
  <head>
    {% block metas %}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="{{ config.SITE_DESCRIPTION }}">
    {% endblock metas %}
    <title>{{config.SITE_NAME }}: {% block title %}{% endblock %}</title>
    {% block styles %}
      {% assets filters='cssmin', output='generic/css/vendor.css',
                'vendor/3.3.7/css/bootstrap.min.css',
                'vendor/3.3.7/css/bootstrap-theme.min.css' %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
      {% endassets %}
    {% endblock styles %}
    <!-- [if lt IE9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
      </script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <nav id="navigation" class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
              type="button" class="navbar-toggle"
              data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('main.index') }}">
            <img src="{{ url_for('static', filename='images/logo.png') }}"
                width="28" height="28" alt="logo">
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Блоги <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                {% if current_user.is_authenticated %}
                  <li>
                    <a href="{{ url_for('blogs.show_journal') }}">Журнал</a>
                  </li>
                  {% if current_user.followed_items.first() %}
                  <li>
                    <a href="{{ url_for('blogs.show_tape') }}">Лента</a>
                  </li>
                  {% endif %}
                  {% if current_user.can(permissions.CREATE_ENTITY)
                        or current_user.items.first() %}
                    <li>
                      <a href="{{ url_for('blogs.show_heap') }}">Куча</a>
                    </li>
                  {% endif %}
                {% else %}
                  <li>
                    <a href="{{ url_for('blogs.show_heap') }}">Журнал</a>
                  </li>
                {% endif %}
                <li role="separator" class="divider"></li>
                {% if current_user.is_authenticated %}
                  <li>
                    <a href="{{ url_for('lists.show_lists') }}">Списки</a>
                  </li>
                  {% if current_user.followed_lists.first() %}
                  <li>
                    <a href="{{ url_for('lists.show_tape') }}">Лента</a>
                  </li>
                  {% endif %}
                  {% if current_user.can(permissions.CREATE_ENTITY)
                        or current_user.lists.first() %}
                    <li>
                      <a href="{{ url_for('lists.show_heap') }}">Куча</a>
                    </li>
                  {% endif %}
                {% else %}
                  <li>
                    <a href="{{ url_for('lists.show_heap') }}">Списки</a>
                  </li>
                {% endif %}
                <li role="separator" class="divider"></li>
                <li>
                  <a href="{{ url_for('pictures.show_slides') }}">Слайды</a>
                </li>
              </ul>
            </li>
            {% if current_user.can(permissions.CREATE_LINK_ALIAS) %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Инструменты <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="{{ url_for('links.show_links') }}">Ссылки</a>
                  </li>
                  {% if current_user.can(permissions.UPLOAD_PICTURES) %}
                    <li>
                      <a href="{{ url_for('pictures.show_albums') }}">
                        Картинки</a>
                    </li>
                  {% endif %}
                  {% if current_user.can(permissions.MAKE_ANNOUNCEMENT) %}
                    <li>
                      <a href="{{ url_for('announce.show_announcements') }}">
                        Объявления
                      </a>
                    </li>
                  {% endif %}
                </ul>
              </li>
            {% endif %}
            {% if current_user.can(permissions.BLOCK_ENTITY) %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Генштаб <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="{{ url_for('blogs.show_censored') }}">Журнал</a>
                  </li>
                  <li>
                    <a href="{{ url_for('lists.show_censored') }}">Списки</a>
                  </li>
                  {% if current_user.is_root() %}
                  <li role="separator" class="divider"></li>
                  <li>
                    <a href="{{ url_for('admin.change_default_group') }}">
                      Группа</a>
                  </li>
                  <li>
                    <a href="{{ url_for('admin.show_users') }}">
                      Сообщество</a>
                  </li>
                  <li>
                    <a href="{{ url_for('admin.show_pictures') }}">
                      Картинки</a>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <a href="{{ url_for('admin.show_log') }}"
                       rel="nofollow" target="_blank">
                      Server Log
                    </a>
                  </li>
                  <li>
                    <a href="{{ url_for('admin.show_previous_log') }}"
                       rel="nofollow" target="_blank">
                      Previous Log
                    </a>
                  </li>
                  <li>
                    <a href="{{ url_for('admin.show_worker_log') }}"
                       rel="nofollow" target="_blank">
                      Worker Log
                    </a>
                  </li>
                  {% endif %}
                </ul>
              </li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              {% if current_user.is_authenticated %}
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img
                    alt="avatar"
                    src="{{ current_user.account.get_ava_url(
                            size=22, default='mm') }}">
                {{ current_user.username }} <b class="caret"></b>
              </a>
              {% else %}
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Действия <b class="caret"></b>
              </a>
              {% endif %}
              <ul class="dropdown-menu">
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('auth.logout') }}">Выйти</a></li>
                <li>
                  <a href="{{ url_for(
                      'main.show_profile', username=current_user.username) }}">
                    Профиль
                  </a>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Войти</a></li>
                <li>
                  <a href="{{ url_for('auth.get_password') }}">
                    Получить пароль
                  </a>
                </li>
                {% endif %}
              </ul>
            </li>
            {% if current_user.can(permissions.SEND_PM) %}
            <li>
              <a href="{{ url_for('pm.show_conversations') }}">
                Приватные({{ current_user.count_new_pm() }})</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% block page_body %}{#<!-- this block exists for another grid on picture's
                                page, where there are two columns instead of one
                                on all other pages of this service, coming soon.
                         -->#}
      <div id="main-container" class="container-fluid">
        <div class="row">
          <div id="content"
              class="col-lg-8 col-md-10 col-sm-10
                     col-lg-offset-2 col-md-offset-1 col-sm-offset-1">
            <div class="row">
              <div
                  id="sub-content"
                  class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
                {% block page_menu %}{% endblock page_menu %}
                {% block page_content %}{% endblock page_content %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endblock page_body %}
    <footer id="footer">
      <div class="container-fluid">
        <div class="footer-block"></div>
        <div class="footer-content">
          <div class="footer-left text-left">
            <img alt="right finger"
                src="{{ url_for('static', filename='images/footer-left.png') }}"
                width="24" height="24">
          </div>
          <div class="footer-center text-center">
            <a id="footer-link" href="{{ url_for('main.index') }}">
              {{ config.SITE_NAME }}</a>
          </div>
          <div class="footer-right text-right">
            <img
                alt="left finger"
                src="{{ url_for(
                        'static', filename='images/footer-right.png') }}"
                width="24" height="24">
          </div>
          <div class="footer-bottom"></div>
        </div>
        <div class="footer-block"></div>
      </div>
    </footer>
    {% block scripts %}
      {% assets output='generic/js/vendor.js',
                'vendor/jquery-3.1.1.min.js',
                'vendor/3.3.7/js/bootstrap.min.js',
                'vendor/moment.min.js', 'vendor/ru.js' %}
      <script src="{{ ASSET_URL }}"></script>
      {% endassets %}
    {% endblock scripts %}
  </body>
</html>
