{% extends "base.html" %}
{% from "announce/_macros.html" import show_announcement %}
{% from "auth/_macros.html" import get_message %}
{% from "blogs/_macros.html" import show_entity_attributes %}
{% from "blogs/_macros.html" import show_common %}
{% from "blogs/_macros.html" import show_labels %}
{% from "lists/_macros.html" import show_item %}

{% block title %}Начало{% endblock %}

{% block styles %}
  {{ super() }}
  {% assets filters='cssmin', output='generic/css/index.css',
            'css/base.css', 'css/flashed.css', 'css/content-block.css',
            'css/pagination.css', 'css/avatar.css', 'css/entity-info.css',
            'css/details.css', 'css/item-body.css', 'css/pygments.css',
            'css/blogs/show_item.css' %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock styles %}

{% block page_content %}
  {% set messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flashed-message">
      {{ get_message(messages) }}
    </div>
  {% endif %}
  {% if a_s  or item %}
    {% if a_s %}
      {% for announce in a_s %}
        {{ show_announcement(announce, loop.first, entity) }}
      {% endfor %}
    {% endif %}
    {% if item %}
      <div id="e-panel"
           data-entity="{{ entity }}"
           class="content-block slidable {% if a_s %}next-block{% endif %}">
        <div class="block-header">
          <h3 class="panel-title">
            {% if entity == 'list_' %}
              <a href="{{ url_for('lists.show_list', slug=item.slug) }}"
                 class="entity-link" >
                {{ item.title }}
              </a>
            {% elif entity == 'item' %}
              <a href="{{ url_for('blogs.show_item', slug=item.slug) }}"
                 class="entity-link">
                {{ item.abstract }}
              </a>
            {% endif %}
          </h3>
        </div>
        <div class="block-body info-block">
          {{ show_entity_attributes(item, current_user, format_date) }}
        </div>
      </div>
      <div class="next-block entity-pagination entity-alias">
        <a href="{{ url_for('main.jump', spring=item.suffix) }}">
          {{ item.alias_ }}
        </a>
      </div>
      <div class="next-block entity-pagination entity-alias">
        {% if entity == 'list_' %}
          <a href="{{ url_for(
                  'lists.show_owner', username=item.owner.username) }}">
            списки&nbsp;{{ item.owner.username }}
          </a>
        {% elif entity == 'item' %}
          <a href="{{ url_for(
                  'blogs.show_owner', username=item.owner.username) }}">
            журнал&nbsp;{{ item.owner.username }}
          </a>
        {% endif %}
      </div>
      <div class="next-block entity-pagination common-details">
        {{ show_common(item) }}
      </div>
      {% if entity == 'list_' and item.preamble %}
        <div class="content-block next-block preamble-block">
          {{ item.preamble }}
        </div>
      {% endif %}
      {% if entity == 'list_' %}
        <div id="items-block">
          {% for section in item.sections|sort(attribute='number') %}
            {{ show_item(section, options=False) }}
          {% endfor %}
        </div>
      {% elif entity == 'item' %}
        <div class="content-block next-block entity-body-block">
          {{ item.body_html|safe }}
        </div>
      {% endif %}
      {% if item.labels.first() %}
        <div class="content-block next-block entity-labels-block">
          <table>
            <tr>
              <td>Метки:&nbsp;</td>
              <td>
                {% if entity == 'list_' %}
                  {{ show_labels(item.labels, 'lists.sort_heap_labels') }}
                {% elif entity == 'item' %}
                  {{ show_labels(item.labels, 'blogs.sort_heap_labels') }}
                {% endif %}
              </td>
            </tr>
          </table>
        </div>
      {% endif %}
    {% else %}
      <div id="e-panel" data-entity="{{ entity }}" class="hidden"></div>
    {% endif %}
  {% else %}
    <div class="flashed-message">
      <div class="alert alert-warning">
        Сайт в стадии разработки.
      </div>
    </div>
  {% endif %}
{% endblock page_content %}

{% block scripts %}
  {{ super() }}
  {% assets filters='jsmin', output='generic/js/index.js',
            'js/footer.js', 'js/custom_m.js', 'js/show_datetime.js',
            'js/scroll_panel.js', 'js/show_hide_block.js',
            'js/show_hide_announce.js', 'js/link_propagation.js',
            'js/adjust_blogimage.js', 'js/adjust_frame.js',
            'js/adjust_twits.js', 'js/show_list_item.js',
            'js/slide_list_item.js', 'js/main/index.js' %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{%- endblock scripts -%}
