{% extends "base.html" %}

{% block title %}Перенаправление{% endblock %}

{% block styles %}
  {{ super() }}
  {% assets filters='cssmin', output='generic/css/item_redirect.css',
            'css/base.css', 'css/flashed.css', 'css/content-block.css',
            'css/redirect.css' %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock styles %}

{% block page_content %}
  <div class="flashed-message">
    <div class="alert alert-warning">
      {{ message }}
    </div>
  </div>
  <div id="data-panel"
       data-tee="{{ csrf_token() }}"
       data-entity="{{ entity }}"
       data-url="{{ url_for('main.check_item') }}"
       data-task="{{ task_id }}"
       data-timeout="{{ timeout }}"
       class="content-block next-block text-center">
    <img alt="wait-picture"
         src="{{ url_for('static', filename='images/upload.gif') }}">
  </div>
{% endblock page_content %}

{% block scripts %}
  {{ super() }}
  {% assets filters='jsmin', output='generic/js/item_redirect.js',
            'js/footer.js', 'js/custom_m.js',
            'js/strange_redirect.js' %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock scripts %}
