<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close closeprelim" data-dismiss="modal"
              aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="preliminaryLabel">
        Предварительный просмотр
      </h4>
    </div>
    <div class="modal-body">
      <div class="modal-body-start">
        Форматирую, пожалуйста ожидайте...
      </div>
      <div class="modal-body-picture text-center">
        <img alt="progress"
             src="{{ url_for('static', filename='images/upload.gif') }}">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button"
              class="btn btn-default closeprelim" data-dismiss="modal">
        Назад
      </button>
    </div>
  </div>
</div>
