{% extends "base.html" %}

{% from "auth/_macros.html" import get_message %}

{% block title %}Профиль {{ user.username }}{% endblock %}

{% block styles %}
  {{ super() }}
  {% assets filters='cssmin', output='generic/css/profile.css',
            'css/base.css', 'css/flashed.css', 'css/content-block.css',
            'css/avatar.css', 'css/main/profile.css' %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock styles %}

{% block page_content %}
  {% set messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flashed-message">
      {{ get_message(messages) }}
    </div>
  {% endif %}
  <div class="content-block">
    <div class="block-header">
      <h3 class="panel-title">Профиль</h3>
    </div>
    <div class="block-body user-info-block">
      <div class="user-avatar avatar"
          style="background: url({{ user.account.get_ava_url(
                                            size=160, default='mm') }})">
      </div>
      <div class="user-info">
        <h3>{{ user.username }}</h3>
        <div class="personal-details">
          <table class="user-info-table">
            <tbody>
              <tr>
                <td>Группа:&nbsp;</td>
                <td>{{ user.group.title }}</td>
              </tr>
              {% if current_user == user or
                    current_user.can(permissions.CHANGE_USER_ROLE) %}
                <tr>
                  <td>Адрес:&nbsp;</td>
                  <td>
                    {% if user.account.address|length <= 30 %}
                      {{ user.account.address }}
                    {% else %}
                      <a href="mailto:{{ user.account.address }}"
                         title="{{ user.account.address }}">
                        {{ user.account.parse_address() }}
                      </a>
                    {% endif %}
                  </td>
                </tr>
              {% endif %}
              <tr>
                <td>Зарегистрирован:&nbsp;</td>
                <td id="registered">{{ format_date(user.registered) }}</td>
              </tr>
              <tr>
                <td>Последний визит:&nbsp;</td>
                <td id="last-seen">{{ format_date(user.last_visit) }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="footer-bottom"></div>
    </div>
  </div>
  {% if (current_user.can(permissions.CHANGE_USER_ROLE) and
        current_user != user and not user.is_root()) or
        (current_user.is_root() and current_user != user) %}
    <div class="content-block group-block next-block">
      <div class="block-header"
           data-change="{{ url_for('admin.change_user_group') }}"
           data-tee="{{ csrf_token() }}"
           data-u="{{ user.username }}">
        <h3 class="panel-title">Группа</h3>
      </div>
    </div>
  {% endif %}
  {% if current_user == user or
        (current_user.can(permissions.SEND_PM) and
         user.can(permissions.SEND_PM)) %}
    <div class="content-block slidable next-block">
      <div class="block-header">
        <h3 class="panel-title">Действия</h3>
      </div>
      <div class="block-body text-center to-be-hidden">
        {% if current_user == user %}
          <a href="{{ url_for('auth.change_password') }}"
             class="btn btn-info">
            Сменить пароль
          </a>
          <a href="{{ url_for('auth.request_email') }}"
             class="btn btn-info">
            Сменить адрес
          </a>
        {% else %}
          {% if current_user.can(permissions.SEND_PM) and
                not current_user.is_blocked_by(user) %}
            <a href="{{ url_for(
                    'pm.show_conversation', username=user.username) }}"
               class="btn btn-info">
              приват
            </a>
          {% endif %}
          {% if not user.is_root() and user.can(permissions.WRITE_COMMENTARY) %}
            <button type="button"
                    data-u="{{ user.username }}"
                    data-url="{{ url_for('main.block') }}"
                    data-tee="{{ csrf_token() }}"
                    class="btn
                          {% if current_user.is_blocking(user) %}
                            btn-warning
                          {% else %}
                            btn-success{% endif %} blocking-button">
              {% if current_user.is_blocking(user) %}
                простить
              {% else %}
                заблокировать
              {% endif %}
            </button>
          {% endif %}
        {% endif %}
      </div>
    </div>
  {% endif %}
  {% if user.has_public_items or user.has_public_lists %}
    <div class="content-block slidable next-block">
      <div class="block-header">
        <h3 class="panel-title">Пространства</h3>
      </div>
      <div class="block-body text-center to-be-hidden">
        {% if user.has_public_items %}
          <a href="{{ url_for('blogs.show_owner', username=user.username) }}"
             class="btn btn-default">
            журнал
          </a>
        {% endif %}
        {% if user.has_public_lists %}
          <a href="{{ url_for('lists.show_owner', username=user.username) }}"
             class="btn btn-default">
            списки
          </a>
        {% endif %}
      </div>
    </div>
  {% endif %}
  <div class="content-block slidable next-block">
    <div class="block-header">
      <h3 class="panel-title">Статистика</h3>
    </div>
    <div class="block-body text-center to-be-hidden">
      <table class="statistics">
        <tbody>
          {% if user.lists.first() %}
            <tr class="not-last">
              <td class="left-s-row">Публичных списков</td>
              <td class="right-s-row">
                <span class="badge">{{ p_lists }}</span></td>
            </tr>
            <tr class="not-last">
              <td class="left-s-row">Скрытых списков</td>
              <td class="right-s-row">
                <span class="badge">{{ h_lists }}</span></td>
            </tr>
            <tr class="not-last">
              <td class="left-s-row">Всего списков</td>
              <td class="right-s-row">
                <span class="badge">{{ user.lists.count() }}</span></td>
            </tr>
          {% endif %}
          {% if user.items.first() %}
            <tr class="not-last">
              <td class="left-s-row">Публичных в журнале</td>
              <td class="right-s-row">
                <span class="badge">{{ p_items }}</span></td>
            </tr>
            <tr class="not-last">
              <td class="left-s-row">Скрытых в журнале</td>
              <td class="right-s-row">
                <span class="badge">{{ h_items }}</span></td>
            </tr>
            <tr class="not-last">
              <td class="left-s-row">Всего в журнале</td>
              <td class="right-s-row">
                <span class="badge">{{ user.items.count() }}</span></td>
            </tr>
          {% endif %}
          {% if user.lists.first() or user.items.first() %}
            <tr class="not-last">
              <td class="left-s-row">
                Получил <span
                  class="glyphicon glyphicon-thumbs-up"
                  aria-hidden="true"></span>
              </td>
              <td class="right-s-row">
                <span class="badge">{{ user.count_likes() }}</span>
              </td>
            </tr>
          {% endif %}
          <tr class="not-last">
            <td class="left-s-row">
              Оставил <span
                class="glyphicon glyphicon-thumbs-up"
                aria-hidden="true"></span>
            </td>
            <td class="right-s-row">
              <span class="badge">{{ user.liked_lists.count() +
                                     user.liked_items.count() }}</span>
            </td>
          </tr>
          {% if user.lists.first() or user.items.first() %}
            <tr class="not-last">
              <td class="left-s-row">
                Получил <span
                  class="glyphicon glyphicon-thumbs-down"
                  aria-hidden="true"></span>
              </td>
              <td class="right-s-row">
                <span class="badge">{{ user.count_dislikes() }}</span>
              </td>
            </tr>
          {% endif %}
          <tr class="not-last">
            <td class="left-s-row">
              Оставил <span
                class="glyphicon glyphicon-thumbs-down"
                aria-hidden="true"></span>
            </td>
            <td class="right-s-row">
              <span class="badge">{{ user.disliked_lists.count() +
                                     user.disliked_items.count() }}</span>
            </td>
          </tr>
          <tr>
            <td class="left-s-row">Оставил комментариев</td>
            <td class="right-s-row">
              <span class="badge">{{ user.commentaries.count() }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {% if user.followed.first() %}
    <div class="content-block slidable next-block">
      <div class="block-header">
        <h3 class="panel-title">В ленте</h3>
      </div>
      <div class="block-body text-justify to-be-hidden">
        <div class="lenta-participants">
          {% for each in user.followed %}
            <a href="{{ url_for(
                    'main.show_profile', username=each.followed.username) }}">
              {{ each.followed.username }}</a>{%- if not loop.last -%},
                                              {%- endif -%}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
  {% if user.blocked.first() %}
    <div class="content-block slidable next-block">
      <div class="block-header">
        <h3 class="panel-title">Блокируемые</h3>
      </div>
      <div class="block-body text-justify to-be-hidden">
        <div class="lenta-participants">
          {% for each in user.blocked %}
            <a href="{{ url_for(
                    'main.show_profile', username=each.blocked.username) }}">
              {{ each.blocked.username }}</a>{%- if not loop.last -%},
                                             {%- endif -%}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
{% endblock page_content %}

{% block scripts %}
  {{ super() }}
  {% assets filters='jsmin', output='generic/js/profile.js',
            'js/footer.js', 'js/custom_m.js', 'js/show_datetime.js',
            'js/main/profile.js' %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock scripts %}
