.form-block {
  margin: 20px 0 20px 0;
}

.flashed-message {
  margin: 0;
}

.flashed-message .alert {
  margin: 2px 0 2px 0;
}

.form-form {
  margin: 6px 0 0;
}

.form-group {
  margin: 6px 0 0;
}

.captcha-field {
  border: 1px solid #eaeaea;
  border-radius: 3px;
  width: 120px;
  height: 60px;
}

.form-group-service {
  padding: 6px 0 0;
}

.form-label {
  width: 25%;
  float: left;
  padding-top: 7px;
}

.form-group-service .form-label {
  padding-top: 0;
  font-weight: 600;
}

.form-group-service .form-input {
  font-style: italic;
}

.checkbox {
  margin: 0;
}

.checkbox label label {
  padding-left: 0;
}

.form-input {
  margin-left: 26%;
}
