.slidable .block-header, .announcement-block .block-header {
  cursor: pointer;
}

.block-body {
  margin-bottom: 12px;
}

.form-group {
  margin: 0 0 6px 0;
}

.form-table-width {
  width: 100%;
}

.input-width {
  width: 90%;
}

.buttons {
  margin-bottom: 0;
}

.checkbox {
  margin: 0;
}

.checkbox label label {
  padding-left: 0;
}

#body {
  text-align: justify;
}

.entity-details {
  margin: 0;
  text-align: center;
  font-style: italic;
  text-shadow: 0 0 3px #d9dcec;
}

.entity-body {
  margin: 0;
  padding: 6px 0;
  text-align: justify;
}

.preamble {
  font-style: italic;
  text-shadow: 0 0 3px #d9dcec;
  margin: 0;
}

.list-alert {
  margin-bottom: 12px;
}

.list-item-abstract {
  margin: 0;
}

.last-item {
  margin-bottom: 6px;
}

.first-item {
  margin-top: 6px;
}

.entity-labels {
  margin: 0;
  padding: 6px 0;
  text-shadow: 0 0 3px #d9dcec;
  font-style: italic;
}

.entity-labels tr {
  text-align: justify;
  vertical-align: top;
}
