/*
    index.html
    lists/show_list.html
    blogs/show_item.html
*/

.slidable .block-header, .list-item-block .block-header,
.announcement-block .block-header {
  cursor: pointer;
}

.details {
  text-align: center;
  text-shadow: 0 0 3px #d9dcec;
  padding: 4px 0;
}

.info-block {
  margin-bottom: 10px;
}

.entity-alias, .common-details {
  text-shadow: 0 0 3px #d9dcec;
  font-style: italic;
}

.entity-body-block {
  padding: 2px 10px;
}

.entity-labels-block {
  padding: 6px 10px 8px;
  text-shadow: 0 0 3px #d9dcec;
  font-style: italic;
}

.entity-labels-block tr {
  text-align: justify;
  vertical-align: top;
}

.options {
  padding: 4px 0;
  text-align: center;
}

.title-editor-block, .text-editor-block,
.item-editor-block, .bond-block, .labels-editor, .new-comment-block {
  padding: 12px 12px 8px 12px;
}

.input-width {
  width: 90%;
}

#text-editor, #preamble-editor, #item-body-editor, #body, #comment-editor {
  text-align: justify;
}

.submit-group {
  margin: 0;
}

.preamble-block {
  padding: 8px 12px;
  font-style: italic;
  text-align: justify;
}

.list-alert {
  margin-bottom: 8px;
}

.form-group {
  margin: 0 0 6px 0;
}

.length-marker {
  font-style: italic;
  margin: 0 0 6px 0;
}

.bond-alert {
  margin: 0;
}

#items-block {
  margin: 0;
  padding: 0;
}

.item-slider {
  width: 50%;
  margin: 8px auto 0;
}

.list-item-body {
  padding-top: 6px;
  margin: 0 10px 10px;
}

.item-body-block {
  margin: 0;
  padding: 0;
}

.upload-progress-block {
  padding: 8px;
  margin: 0;
}

.labels-editor p {
  text-align: justify;
  font-style: italic;
}

.comment-header {
  width: 50%;
  float: left;
  text-shadow: 0 0 3px #d9dcec;
  font-style: italic;
  padding: 8px;
}

.comment-options-block {
  margin-left: 51%;
  text-align: left;
  padding: 3px 6px 3px 0;
}

.comment-ban {
  margin: 0 0 6px 0;
  padding: 0;
  text-align: justify;
}

.entity-commentaries {
  margin-left: -10px;
}

.commentaries-branch {
  margin-left: 10px;
}

.root-commentary {
  padding: 6px;
}

.deleted-root-commentary {
  padding: 6px;
  text-align: left;
  text-shadow: 0 0 3px #aeb1db;
  font-style: italic;
}

.commentary-author-avatar {
  width: 71px;
  height: 71px;
  float: left;
}

.commentary-attributes {
  margin-left: 80px;
  padding: 2px 0 0;
}

.commentary-author-name {
  margin 0;
  font-size: 1.16em;
}

.commentary-options {
  margin: 4px 0;
}

.commentary-body {
  text-align: justify;
  border: 1px solid white;
  margin: 2px;
}

.optional-buttons {
  margin: 0;
  padding: 0;
}

.answer-comment-block {
  padding: 6px 2px 0;
}
/*
.announcement-body {
  border: 1px solid white;
}
*/
