.form-form {
  margin: 6px 0 0 0;
}

.links-form-table {
  width: 100%;
}

.links-input-column {
  width: 90%;
}

.aliases-block {
  margin-bottom: 8px;
}

.aliases-block table {
  margin-bottom: 6px;
}

.aliases-block .alert {
  margin-bottom: 12px;
}

.aliases-table {
  width: 100%;
  border-collapse: collapse;
}

.aliases-table th {
  padding: 6px 2px;
}

.aliases-table td {
  padding: 8px 2px 4px;
}

.bordered {
  border-bottom: 1px dashed #dddddd;
}

.table-head {
  border-bottom: 2px solid #dddddd;
}

.date-field {
  font-style: italic;
  text-shadow: 0 0 3px #d9dcec;
}
